.form-registration{
    color: $white-color;
    background-color: $tertiary-color;
    min-height:500px; 
    width: 100%;
    
    a{
        color: $white-color;
    }
    
    .form-header{   
        background-color: $secondary-color;
        height: 2.75rem;
    }

    .form-body{
        width: 91%;

        #number-prep{
            border:0; 
            background: none; 
            color: $white-color;
        }

        #submit{
            background-color: $secondary-color;
            color: $white-color;
            width: 6rem;
        }
    }
}