@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Sriracha&display=swap");
body {
  background-color: #114a44;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sriracha", cursive;
}

.navbar {
  background: #0b3531;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar a {
  color: #fafafa;
}

.navbar a.dropdown-item {
  color: #0a0a0a;
}

.navbar a.dropdown-item:hover {
  background: #0b3531;
  color: #fafafa;
}

.navbar .navbar-toggler-icon {
  color: #fafafa;
}
/*# sourceMappingURL=login.css.map */

.login-container{
  padding: 10px;
  background: #333333;
  margin-top: 33%;
  text-align: center;
  color: #FADCAC;
}


.form-container {
  padding: 40px;
}

.btn {
  width: 50%;
  background-color: #537162;
  border: 2px solid #BBDACA;
  color: white;
}

.btn:hover {
  background: #BBDACA;
}

.form-control {
  background-color: #537162;
  color: white;
}

.feather-container{
  background-color: #537162;
  border: 2px solid #537162;
  border-radius: 5px;
  padding: 5px;
}