/*
 * notify-bootstrap 
 * v1.0.0
 * https://github.com/the-muda-organization/notify-bootstrap
 * MIT License
 */

/* main container for stacking toasts */
.toast-container{
    width:100%;
    max-width:400px;
    position:fixed;
    top:80px;
    right:2%;
    z-index:1055;
    padding:1rem;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    pointer-events:none;
}
/* toast - ovverride from bootstrap */
.toast{
    width:100%;
    max-width:400px; /* slightly bigger than bootstrap default 350px */
    pointer-events:auto
}
/* toast - style for notify not affecting bootstrap toast */
.toast[data-type]{
    position:relative;
    border: 0;
    color: #0b3531;
    background:linear-gradient(to bottom right,#4A4A4A,#2B2B2B);
    //box-shadow:0 2px 4px rgba(0,0,0,.5);
}
/* toast content */
.toast[data-type] .toast-content{
    display:flex;
    align-items:center;
    padding-left:1rem;
}
/* toast svg icon */
.toast[data-type] .toast-icon svg{
    width:35px;
    height:35px;
    display:block;
}
/* toast body - it contains title and message */
.toast[data-type] .toast-body{
    width:100%;
    padding-left:1rem;
    text-align:justify;
}
/* toast close button */
.toast[data-type] .close{
    position:absolute;
    top:0;
    right:.25rem;
    color:inherit;
    height: 40px;
    width: 40px;
}


/* GENERAL */
.toast[data-type="error"]  {background:linear-gradient(to bottom right,#FF2A68,#FF5E3A)}
.toast[data-type="success"]{background: #EBF2F2}
.toast[data-type="other"]  {background:linear-gradient(to bottom right,#4A4A4A,#2B2B2B)}


