// Color Palette
$main-color: #114a44;
$secondary-color: #628474;
$tertiary-color: #0b3531;
$white-color: #fafafa;
$text-color: $white-color;
$text-color2: #4C6659;
$text-secondary-color: #818181;
$black: #0a0a0a;
$light-green: #EBF2F2;  
$sidebar-green: #8FAB9E;
$sidebar-submenu-green: #628474;