{% extends 'base_admin.html' %}
{% load static %}

{% block tags %}
    <!-- Customized CSS -->
    <link rel="stylesheet" href="{% static '/css/custom_admin/custom-admin.css' %}">
    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
{% endblock tags %}
{% block content %}
<!-- Loader -->
<div class="loading d-none">
    <div class="overlay"></div>
    <div class="loader">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
</div>

<div class="container-fluid">
  <div class="row h-100">
    <div class="col-2 sidebar d-flex column-vertical py-3 p-0">

      <a class="orders-title" href="{% url 'custom_admin:orders' %}">Orders<i class="fa fa-caret-down"></i></a>
      <div class="dropdown-container">
        <!-- <button id="" type="button" class="sidebar-nav border-0">Collected</button> -->
        <!-- <button id="collectedBtn" type="button" class="sidebar-nav border-0">Delivered</button> -->
      </div>
      <a class="orders-title" href="{% url 'custom_admin:users' %}">Users <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-container d-none">
        <button id="" type="button" class="sidebar-nav border-0">All</button>
        <button id="" type="button" class="sidebar-nav border-0">Waitlist</button>
        <button id="" type="button" class="sidebar-nav border-0">Customers</button>
        <button id="" type="button" class="sidebar-nav border-0">Farmers</button>
      </div>
      <a class="orders-title active" href="{% url 'custom_admin:crops' %}">Others <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-container">
        <button id="" type="button" class="sidebar-nav border-0" autofocus>Crops</button>
        <a href="{% url 'admin:index' %}" class="sidebar-nav border-0">Django Admin</a>
      </div>
    </div>
    <div class="col-10 p-5 orders">
      <h3 id="order-header">List of Crops</h3>
      <div class="row">
        <div class="view-order ol-12 pt-3 pb-3 rounded position-relative">
          <div class="label pt-1 pb-1 mb-4 position-absolute add-btn-holder">
            <button id="addBtn" type="button m-0" class="btn btn-primary" data-toggle="modal" data-target="#modal-customer-pending">Add Crop</button>
          </div>
          <div class="row">
            <div class="label col-12 text-center pt-1 pb-1 mb-4"><b class="mr-3">Crop ID:</b><span class="order-id" id="order-id">-</span></div>

            <div class="label col-3 text-right pt-1 pb-1"><b>Crop Name:</b></div>
            <div class="col-3 pt-1 pb-1" id="crop-name">-</div>
            <div class="label col-3 text-right pt-1 pb-1"><b>Customer ID:</b></div>
            <div class="col-3 pt-1 pb-1" id="customer-id">-</div>

            <div class="label col-3 text-right pt-1 pb-1"><b>Weight:</b></div>
            <div class="col-3 pt-1 pb-1" id="weight">-</div>
            <div class="label col-3 text-right pt-1 pb-1"><b>Customer Name:</b></div>
            <div class="col-3 pt-1 pb-1" id="customer-name">-</div>

            <div class="label col-3 text-right pt-1 pb-1"><b>Status:</b></div>
            <div class="col-3 pt-1 pb-1" id="status">-</div>
            <div class="label col-3 text-right pt-1 pb-1"><b>Farmer ID:</b></div>
            <div class="col-3 pt-1 pb-1" id="farmer-id">-</div>

            <div class="label col-3 text-right pt-1 pb-1"><b>Location:</b></div>
            <div class="col-3 pt-1 pb-1" id="location">-</div>
            <div class="label col-3 text-right pt-1 pb-1"><b>Farmer Name:</b></div>
            <div class="col-3 pt-1 pb-1" id="farmer-name">-</div>

            <div class="label col-3 text-right pt-1 pb-1 mt-4"><b>Date Ordered:</b></div>
            <div class="col-3 pt-1 pb-1 mt-4" id="date-ordered">-</div>
            <div class="label col-3 text-right pt-1 pb-1"></div>
            <div class="col-3 pt-1 pb-1"></div>
            
            <div class="label col-12 text-center justify-content-center pt-1 pb-1 mb-4">
              <button id="cancelBtn" type="button m-0" class="btn btn-danger px-5 mx-auto">Delete Crop</button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <table class="table crops-table mx-auto">
            <thead>
              <tr>
                <th>Crop ID</th>
                <th>Crop Name</th>
                <th>Location</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Confirm Delete Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Crop</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This will delete the selected crop.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id="confirmDeleteBtn" type="button" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add Crop -->
<div class="modal-customer modal fade" id="modal-customer-pending" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="modal-add-crop" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Crops</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-crop" novalidate>     
              <div class="modal-body"> 
                <div class="form-group col-12 col-md-12 row ">
                  <label class="font-weight-bold col-4" for="crop-name">Crop Name:</label>
                  <div class="col-8">
                    <input id="crop-name" class="form-control" type="text" name="crop-name" maxlength="30" required>
                  </div>
                </div>
                <div class="form-group col-12 col-md-12 m-0 ml-2">
                    <input type="checkbox" id="is-seasonal" class="form-check-input">
                    <label for="is-seasonal" class="form-check-label">Is Seasonal</label>
                </div>
                <div class="form-group col-12 col-md-12 row">
                    <label class="col-4 d-flex mt-2" for="season-start">Season Start:</label>
                    <div class="col-8">
                      <input class="form-control" type="date" name="season-start">
                      <label><small>Start of the harvest season.</small></label>
                    </div>
                </div>
                <div class="form-group col-12 col-md-12 row">
                  <label class="col-4 d-flex mt-2" for="season-end">Season End:</label>
                  <div class="col-8">
                    <input class="form-control" type="date" name="season-end" maxlength="30">
                    <label><small>Start of the harvest season.</small></label>
                  </div>
                </div>
                <div class="form-group col-12 col-md-12 row">
                  <div class="form-group col-12 col-md-12">
                      <select class="form-control" name="province" id="province" required>
                      </select>
                      <div id="demand-invalid" class="invalid-feedback">
                          Please enter the province.
                      </div>
                      <select class="form-control" name="city" id="city" disabled hidden>
                          <option value="" disabled selected hidden>City *</option>
                      </select>
                      <select class="form-control" name="brgy" id="barangay" disabled hidden>
                          <option value="" disabled selected hidden>Barangay *</option>
                      </select>
                  </div>
                </div>
                <div class="form-group col-12 col-md-12 row">
                  <label class="font-weight-bold label col-4 mt-1" for="weight">Harvest weight per land area:</label>
                  <div class="col-8">
                    <input class="form-control col-8" type="number" name="weight" maxlength="30" required>
                    <label><small>Harvest weight per land area tons/ha</small></label>
                  </div>
                </div>
                <div class="form-group col-12 col-md-12 row">
                  <label class="font-weight-bold label col-4 mt-2" for="harvest-time" required>Harvest Time:</label>
                  <div class="col-8">
                    <input class="form-control col-8" type="number" name="harvest-time" maxlength="30">
                    <label for="harvest-time"><small>Harvest weight per land area tons/ha</small></label>
                  </div>
                </div>
                <div class="form-group col-12 col-md-12 row">
                  <label class="font-weight-bold label col-4 mt-2" for="productivity">Productivity:</label>
                  <div class="col-8">
                    <input class="form-control col-8" type="number" name="productivity" maxlength="30">
                    <label for="productivity"><small>Arbitrary for now, set it later can be overriden.</small></label>
                  </div>
                </div>
              </div>
              <div class="py-2 px-sm-5 px-2 text-right">
                <button id="cancelBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success ok-btn" style="width: 7rem;">Save</button>
              </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<!-- Datatables JS -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
<!-- Admin JS -->
<script src="{% static '/js/custom-admin/custom-admin-sidebar.js' %}"></script>
<script src="{% static '/js/custom-admin/custom-admin-crops.js' %}" type="text/javascript"></script>
<script src="{% static '/js/global/notify.js' %}"></script>
<!-- load address-->
<script src="{% static '/js/global/load-address.js' %}"></script>
<script>
    $(document).ready(function() {
        loadAddresses("{% static '/js/json/philippine_address_2019v2.json' %}");
    });
</script> 
<!-- <script src="{% static '/js/custom-admin/custom-admin-orders.js' %}"></script> -->
<!-- <script>
  $(document).ready(function () {
    initialize();
    setCSRFToken("{{csrf_token}}")
    console.log("ASFSAFASF")
  });
</script> -->
{% endblock scripts %}