@import "../index";

.body-dashoard{
    position: relative; 
    width: 95%; 
    min-height: 180px; 
    border: 2px $main-color solid; 
    border-radius: 0.5rem;
    padding: 20px;
    .title{
        color: $main-color;
    }
    .content{
        margin-top: 20px;
        color: $main-color;
        span{
            margin-top: 5px;
        }
    }
}