@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Sriracha&display=swap");
body {
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sriracha", cursive;
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0b3531), color-stop(50%, #628474));
  background: linear-gradient(to right, #0b3531 50%, #628474 50%);
}

.navbar {
  border-bottom: 2px solid #0b3531;
}

.navbar .wraper {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .div-1 {
  width: calc( 25% - 40px);
  height: 100%;
  background: #0b3531;
}

.navbar .div-1 .imgLogo {
  margin-top: 10px;
  height: 45px;
  width: auto;
}

.navbar .div-2 {
  width: calc( 75% + 40px);
  height: 100%;
  border-left: 50px solid #0b3531;
  border-bottom: 70px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #628474;
}

.navbar .div-2 div.navbar-collapse ul li:hover {
  background-color: #114a44;
  border-radius: 5px;
}

.navbar .div-2 div.navbar-collapse ul li a.nav-link {
  text-align: right;
}

.navbar .div-2 a {
  color: white;
}

.navbar .div-2 a.dropdown-item {
  color: #0a0a0a;
}

.navbar .div-2 a.dropdown-item:hover {
  background: #628474;
  color: white;
}

.navbar .div-2 .navbar-toggler-icon {
  color: white;
}

@media only screen and (max-width: 990px) {
  .navbar .div-1 {
    width: calc( 35% - 40px);
  }
  .navbar .div-1 .imgLogo {
    margin-top: 10px;
    height: 35px;
  }
  .navbar .div-2 {
    width: calc( 65% + 40px);
  }
  .navbar .div-2 div.navbar-collapse {
    background-color: #628474;
  }
  .navbar .div-2 div.navbar-collapse ul li:hover {
    border-radius: 0px;
  }
  .navbar .div-2 div.navbar-collapse ul li a.nav-link {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 770px) {
  .navbar .div-1 {
    width: calc( 40% - 40px);
  }
  .navbar .div-1 .imgLogo {
    margin-top: 13px;
    height: 35px;
  }
  .navbar .div-2 {
    width: calc( 60% + 40px);
  }
}

@media only screen and (max-width: 600px) {
  .navbar .div-1 {
    width: calc( 60% - 40px);
  }
  .navbar .div-1 .imgLogo {
    margin-top: 13px;
    height: 35px;
  }
  .navbar .div-2 {
    width: calc( 40% + 40px);
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #628474;
}

.footer .container {
  color: white;
  text-align: right;
}

.footer .container span {
  font-size: .8rem;
}

.footer .container span .icon {
  font-size: 1.2rem;
}

.form-registration {
  color: #114a44;
  background-color: #EBF2F2;
  width: 100%;
  border-radius: 0.5rem;
}

.form-registration a {
  color: #114a44;
}

.form-registration #account-type-tag {
  font-size: 18px;
}

.form-registration .group-inputs {
  color: #114a44;
  border-radius: 0.5rem;
}

.form-registration .group-inputs .group-title {
  color: #fafafa;
  background-color: #628474;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.form-registration .form-header {
  background-color: #628474;
  height: 2.75rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.form-registration .form-body {
  margin-top: -2rem;
  width: 91%;
}

.form-registration .form-body .account-type {
  width: 5rem;
  height: 3.2rem;
  border-radius: 0.5rem;
}

.form-registration .form-body #prep {
  border: 0;
  background: #165a53;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.form-registration .form-body .view-password, .form-registration .form-body .view-password-confirm {
  background: #165a53;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-registration .form-body #submit {
  background-color: #114a44;
  color: #fafafa;
  width: 8rem;
}

.form-registration .form-body #termsAndConditionsLink {
  text-decoration: underline;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#pr-box {
  font: 13px/16px sans-serif;
  position: absolute;
  z-index: 1000;
  display: none;
  width: 300px;
  max-width: 100%;
}

#pr-box i {
  width: 0;
  height: 0;
  margin-left: 20px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #23a86d;
}

#pr-box-inner {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

#pr-box p {
  padding: 20px;
  border-radius: 2px 2px 0 0;
}

#pr-box ul {
  padding: 7px;
  border-radius: 0 0 2px 2px;
}

#pr-box ul li {
  list-style: none;
  padding: 7px;
}

#pr-box ul li span {
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  border-radius: 100%;
  margin-right: 15px;
}

#pr-box.light {
  color: #2d2f31;
}

#pr-box.light p {
  background-color: #23a86d;
  color: #f1f1f1;
}

#pr-box.light ul {
  background-color: #f1f1f1;
}

#pr-box.light ul li span {
  background-color: #f1f1f1;
  border: 3px solid #23a86d;
}

#pr-box.light ul li span.pr-ok {
  background-color: #23a86d;
  border: 3px solid #23a86d;
}

#pr-box.dark {
  color: #f1f1f1;
}

#pr-box.dark p {
  background-color: #23a86d;
}

#pr-box.dark ul {
  background-color: #2d2f31;
}

#pr-box.dark ul li span {
  background-color: #2d2f31;
  border: 3px solid #23a86d;
}

#pr-box.dark ul li span.pr-ok {
  background-color: #23a86d;
  border: 3px solid #23a86d;
}
/*# sourceMappingURL=registration.css.map */