// Made for terms-and-conditions.html only
@import "../index";

.body-content{
    position: relative; 
    min-height: 180px; 
    border: 2px $main-color solid; 
	border-radius: 0.5rem;
	color: black;
	padding: 15px 15px 30px 15px;
	.content {
		color: black;
		padding: 15px 15px 30px 15px;
		.title{
        	color: $main-color;
		}
		.content {
			color: black;
			padding: 0px 15px 0px 15px;
		}
		.subtitle{
			margin-top: 15px;
			font-weight: bold;
			color: $main-color;
		}
		
		.print {
			color: black;
			font-size: .8rem;
			cursor: pointer;
		}
	}
}