// Made for terms-and-conditions.html only
@import "../index";

.body-content{
    position: relative; 
    min-height: 180px; 
    border: 2px $main-color solid; 
	border-radius: 0.5rem;
	color: black;
	padding: 15px 15px 30px 15px;
	margin-left: 20px;
	margin-right: 20px;
	.title{
		color: $main-color;
	}
	.content {
		color: black;
		padding: 20px 15px 0px 15px;
		.subtitle{
			margin-top: 15px;
			font-weight: bolder;
			color: $main-color;
		}
		.print {
			color: black;
			font-size: .8rem;
			cursor: pointer;
		}
		p{
			padding: 0;
			margin: 0;
			// text-indent: 50px;
			text-align: justify;
		}
		ol {
			counter-reset: list;
			margin: 0;
		}
		ol > li {
			list-style: none;
			position: relative;
			text-align: justify;
		}
		ol > li:before {
			counter-increment: list;
			content: "("counter(list, lower-alpha) ") ";
			position: absolute;
			left: -1.4em;
		}
	}
}