div.content{
    width: 50%;
    height: 100%;
    div{
        div{
            // background: blue;
            .subtitle{
                color: #4C6659;
                &:hover{
                    cursor: pointer;
                }
            }
            .answer{
                color: #4C6659;
                display: none;
            }
        }
    }
}

span.helptext{
    display: none;
}