.form-registration {
    color: $white-color;
    background-color: $tertiary-color;
    width: 100%;
    border-radius: 0.5rem;

    a {
        color: $main-color;
    }

    .group-inputs{

        background-color: $white-color;
        color: $main-color;
        border-radius: 0.5rem;
        .group-title{
            color: $white-color;
            background-color: $secondary-color;
            border-top-right-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
        }
    }

    .form-header {
        background-color: $secondary-color;
        height: 2.75rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    .form-body {
        margin-top: -2rem;
        width: 91%;

        .account-type{
            background: $main-color;
            color: $white-color;
            width: 7.5rem;
            height: 3.2rem;
            border-radius: 0.5rem;
        }

        #prep {
            border: 0;
            background: #165a53;
            color: $white-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #prep{
          cursor: pointer;  
        }

        #submit {
            background-color: $main-color;
            color: $white-color;
            width: 7rem;
        }
    }
}



#pr-box {
    font: 13px/16px sans-serif;
	position: absolute; 
	z-index:1000;
	display:none;
	width:300px;
	max-width:100%;
}
#pr-box i { 
    width: 0; 
	height: 0; 
	margin-left: 20px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #23a86d;
}
#pr-box-inner {
	margin-top: 6px;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#pr-box p {
	padding:20px;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}
#pr-box ul {
	padding:7px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}
#pr-box ul li {
	list-style: none;
	padding:7px;
}
#pr-box ul li span {
	width:15px;
	height:15px;
	display:block;
	float:left;
	border-radius:100%;
	margin-right:15px;
}
#pr-box.light {
	color:#2d2f31;
}
#pr-box.light p {
	background-color:#23a86d;
	color:#f1f1f1;
}
#pr-box.light ul {
	background-color:#f1f1f1;
}
#pr-box.light ul li span {
	background-color:#f1f1f1;
	border:3px solid #23a86d;
}
#pr-box.light ul li span.pr-ok {
	background-color:#23a86d;
	border:3px solid #23a86d;
}
#pr-box.dark {
	color:#f1f1f1;
}
#pr-box.dark p {
	background-color:#23a86d;
}
#pr-box.dark ul {
	background-color:#2d2f31;
}
#pr-box.dark ul li span {
	background-color:#2d2f31;
	border:3px solid #23a86d;
}
#pr-box.dark ul li span.pr-ok {
	background-color:#23a86d;
	border:3px solid #23a86d;
}
