@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Sriracha&display=swap");
body {
  background-color: #114a44;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sriracha", cursive;
}

.navbar {
  background: #0b3531;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar a {
  color: #fafafa;
}

.navbar a.dropdown-item {
  color: #0a0a0a;
}

.navbar a.dropdown-item:hover {
  background: #0b3531;
  color: #fafafa;
}

.navbar .navbar-toggler-icon {
  color: #fafafa;
}

body {
  background: #fff;
}

.body-dashoard {
  position: relative;
  width: 90%;
  min-height: 180px;
  border: 2px #114a44 solid;
  border-radius: 0.5rem;
}

.body-dashoard .title {
  position: absolute;
  left: 2rem;
  top: -1rem;
  background: #fff;
  color: #114a44;
  font-weight: bold;
}

.body-dashoard .order-btn {
  position: absolute;
  right: 2rem;
  top: -1rem;
  background: #628474;
  font-weight: bold;
  width: 8rem;
  color: #fafafa;
}

.body-dashoard .orders {
  height: 280px;
  font-weight: bold;
}

.body-dashoard .order-tab,
.body-dashoard .reserved-orders,
.body-dashoard .incoming-orders,
.body-dashoard .finished-orders {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.body-dashoard .order-table-holder {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.body-dashoard .order-type {
  height: 84%;
  color: #0b3531;
  font-size: 6rem;
}

.body-dashoard .box, .body-dashoard .tab {
  border-radius: 0.5rem;
}

.body-dashoard .box {
  background: #EBF2F2;
  color: #0b3531;
  height: 2.75rem;
  z-index: 4;
  -webkit-box-shadow: 0px 2px 6px 2px #e0e0e0;
          box-shadow: 0px 2px 6px 2px #e0e0e0;
}

.body-dashoard .reserved-orders {
  background-color: #9387DF;
  color: #fff;
  cursor: pointer;
}

.body-dashoard #finished-table .order-tab {
  background: #5C5CE4;
  color: #fff;
}

.body-dashoard #incoming-table .order-tab {
  background: #D2467B;
  color: #fff;
}

.body-dashoard #reserved-table .order-tab {
  background: #9387DF;
  color: #fff;
}

.body-dashoard .order-tab {
  background: black;
}

.body-dashoard .incoming-orders {
  background-color: #D2467B;
  color: #fff;
  cursor: pointer;
}

.body-dashoard .finished-orders {
  background-color: #5C5CE4;
  color: #fff;
  cursor: pointer;
}

.body-dashoard .order-table-holder {
  background: #EBF2F2;
}

.body-dashoard .reserved-orders:hover,
.body-dashoard .incoming-orders:hover,
.body-dashoard .finished-orders:hover {
  cursor: pointer;
}

.body-dashoard .nav-tabs a {
  text-decoration: none;
  color: #0b3531;
}

.body-dashoard .nav-pills > li.active > a, .body-dashoard .nav-pills > li.active > a:hover, .body-dashoard .nav-pills > li.active {
  color: black;
  background: none;
}

.body-dashoard .nav-tabs > li.active > a, .body-dashoard .nav-tabs > li.active > a:focus, .body-dashoard .nav-tabs > li.active {
  padding: 1rem;
}

.body-dashoard .nav-tabs {
  border: 0;
}

.body-dashoard table {
  width: 95%;
  border-radius: 0.5rem;
  color: #0b3531;
  background-color: #fff;
}

.body-dashoard table thead {
  color: #fafafa;
  background: #0b3531;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-weight: normal;
}

.body-dashoard table thead th {
  font-weight: normal;
}

.body-dashoard table thead th:first-child {
  border-top-left-radius: 0.5rem;
}

.body-dashoard table thead th:last-child {
  border-top-right-radius: 0.5rem;
}

.body-dashoard table tfoot td:not(:last-child), .body-dashoard table tfoot th:not(:last-child) {
  border-right: 1px solid #0b3531;
}

.body-dashoard table tfoot td, .body-dashoard table tfoot th {
  border-top: 0;
  text-align: center;
  font-weight: normal;
}

.body-dashoard .tab-content {
  border-radius: 0.5rem;
}

.body-dashoard .order-table {
  -webkit-box-shadow: 0px 0px 2px 2px #e0e0e0;
          box-shadow: 0px 0px 2px 2px #e0e0e0;
  min-height: 100px;
  padding-bottom: 3rem;
  background: #EBF2F2;
  border-radius: 0.5rem;
}
/*# sourceMappingURL=farmer-dashboard.css.map */