{% extends 'base.html' %} {% load static %}

{% block tags %}
<!-- Customized CSS -->
<link rel="stylesheet" href="{% static 'css/login_register/others.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5" style="min-height: 90vh;">
	<div class="body-dashoard container-fluid" style="min-height: 50vh;">
		<div class="content col-12 mt-4 mb-5">
			<div class="row col-12 justify-content-center">
				<p class="font-weight-bold text-uppercase title">About Us</p>
			</div>
			<div class="row mt-4">
				<p class="text-justify">
					AtoANI is a startup social enterprise based in Bohol, Philippines that produces and distributes organically-farmed fresh produce and processed food products using a produce-to-demand model. It offers free delivery at volume orders straight from their farm and partner farmers to its business and partner customers.
				</p>
			</div>
			<div class="row">
				<p class="text-justify">
					Since its official start in 2019, the main organic farm is located in Cambuhat, Buenavista, Bohol and has since expanded in Anonang, Inabanga, Bohol in collaboration with Innovation for Social Impact Partnership (ISIP), Australian Aid, PhilDev and UNDP and a commitment to expand in Cabalawan, Sogod, Cebu in collaboration with World Vision Philippines.
				</p>
			</div>
			<div class="row">
				<p class="text-justify">
					Target beneficiaries of AtoANI are the local residents of its farm locations as it aims to influence more farmers as possible to be involved in sustainable farming practices through business partnership with its proprietary business model or system.  
				</p>
			</div>
			<div class="row">
				<p class="text-justify">
					Overall, AtoANI is on a mission to: (a) use only natural and sustainable farming practices free from synthetic pesticides and fertilizers, (b) deliver healthy products to customers on agreed delivery times in the most convenient way possible and (c) eliminate oversupply of fresh produce on the part of the farmers through recommended and organized crop planning through use of technology.
				</p>
			</div>
			<div class="row">
				<p class="text-justify">
					We are committed to make a sustainable positive impact to the environment and to the agriculture system, one farming community at a time.
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<!-- Login JS -->
<!-- <script src="{% static '/js/login-validation.js' %}"></script> -->
{% endblock %}