{% extends 'base.html' %} {% load static %}

{% block tags %}
<!-- Customized CSS -->
<link rel="stylesheet" href="{% static 'css/login_register/others.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5" style="height: 100vh;">
	<div class="body-dashoard container-fluid" style="height: 50vh;">
		<div class="content col-12 mt-4">
			<div class="row col-12 justify-content-center">
				<p class="font-weight-bold text-uppercase title">Contact Us</p>
			</div>
			<div class="row mt-4">
				<span class="col-5 text-right">Address:</span>
				<span class="col-7">Cambuhat, Beunavista, Bohol</span>
			</div>
			<div class="row">
				<span class="col-5 text-right">Phone:</span>
				<span class="col-7">0943-4340946 (Bohol)
					<br> 032-384-8207 /  0933 810 8753  (Cebu)
					<br> 254-9398 / 0932 351 8751 (Manila)
				</span>
			</div>
			<div class="row">
				<span class="col-5 text-right">Email:</span>
				<span class="col-7">atoani.ph@gmail.com</span>
			</div>
			<div class="row">
				<span class="col-5 text-right">Facebook:</span>
				<span class="col-7"><a href="https://www.facebook.com/atoaniph">AtoAni</a></span>
			</div>
			<div class="row">
				<span class="col-5 text-right">Instagram:</span>
				<span class="col-7"><a href="https://www.instagram.com/atoani.ph/">@atoani.ph</a></span>
			</div>
			<div class="row">
				<span class="col-5 text-right">Instagram:</span>
				<span class="col-7"><a href="https://twitter.com/ato_ani">@ato_ani</a></span>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<!-- Login JS -->
<!-- <script src="{% static '/js/login-validation.js' %}"></script> -->
{% endblock %}