{% extends 'base.html' %} {% load static %}

{% block tags %}
<!-- Customized CSS -->
<!-- <link rel="stylesheet" href="{% static 'css/login_register/login.css' %}"> -->
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5 h-100">
	<h3 style="color:#0b3531;">Contact us</h3>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, dolorem quos. Accusamus quia ratione tenetur reiciendis
	provident magni quos iste nesciunt molestiae minima unde, alias a necessitatibus consequatur possimus earum.
	
</div>

{% endblock %}

{% block scripts %}
<!-- Login JS -->
<!-- <script src="{% static '/js/login-validation.js' %}"></script> -->
{% endblock %}