{% extends 'base.html' %} {% load static %}

{% block tags %}
<!-- Customized CSS -->
<link rel="stylesheet" href="{% static 'css/login_register/forgot-password.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5 content">
	<h3 style="color:#0b3531;">Forgot Password?</h3>
	Enter your email address below.
    <div>
        <form action="">
            <div class="row mt-3">
                <div class="col-lg-6">
                    <input type="text" class="w-100 h-100" name="Email" id="Email" placeholder="Email Address">
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn" style="background-color: #628474; color: white;">Submit</button>
                </div>
            </div>
        </form>    
        <div class="mt-5">
            <!-- {% url 'login_register:contact-us' %} -->
            <a id="btn1" class="subtitle"> <i class="fa fa-info-circle mr-3" aria-hidden="true"></i>I forgot my email address</a>
        </div>
        <div class="w-75 ml-5">
            <p id="btn1Answer" class="answer">You may contact the AtoANI Customer Service in this contact number 0912-345-6789 or <a href="#" style="color: green;">visit our social media sites</a></p>
        </div>
        <div>
            <a id="btn2" class="subtitle"><i class="fa fa-info-circle mr-3" aria-hidden="true"></i>I have not added email address in my account</a>
        </div>
        <div class="w-75 ml-5">
            <p id="btn2Answer" class="answer">You may contact the AtoANI Customer Service in this contact number 0912-345-6789 or <a href="#" style="color: green;">visit our social media sites</a></p>
        </div>
    </div>
	
</div>

{% endblock %}

{% block scripts %}
<!-- AJAX -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Forgot password JS -->
<script src="{% static '/js/forgot-password.js' %}"></script>
<script>
  $(document).ready(function () {
    // initialize();
    $("#btn1").click(function(){
        console.log("test");
        if($("#btn1Answer").css('display') == 'block'){
            $("#btn1Answer").slideUp();
        } else {
            $("#btn1Answer").slideDown();
        }
    });
    $("#btn2").click(function(){
        console.log("test");
        if($("#btn2Answer").css('display') == 'block'){
            $("#btn2Answer").slideUp();
        } else {
            $("#btn2Answer").slideDown();
        }
    });
    setCSRFToken("{{csrf_token}}")
  });
</script>
{% endblock %}