{% extends 'base.html' %}
{% load static %}

{% block tags %}
    <!-- Customized CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4 login">

                <form class="form-login" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-header d-flex pl-3">
                        <h3 class="m-0">Login</h3>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <label>Log in to AtoANI iCROP</label>
                    </div>
                    <div class="form-body justify-content-center">
                        <div>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group mt-3">
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group pl-4 mt-1 mb-5">
                                    <input class="form-check-input" type="checkbox" value="" id="rememberCheckbox">
                                    <label class="form-check-label" for="rememberCheckbox">Remember me</label>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <button type="submit" class="btn btn-block btnSignIn">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
