{% extends 'base.html' %} {% load static %} 

{% block tags %}
<!-- Customized CSS -->
<link rel="stylesheet" href="{% static 'css/login_register/login.css' %}"> 
{% endblock %} 

{% block content %}
<div class="container mt-5 mb-5 h-100">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-5">
            <form class="form-login" id="form-login" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row justify-content-center pt-5 pb-4">
                    <label>Log in to AtoANI iCROP</label>
                </div>

                <div class="form-body justify-content-center">
                    <div class="pb-2">
                        <span id="error" style="display: none;"></span>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                    </div>
                    <div class="form-group mt-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-group pl-4 mt-1">
                                <input class="form-check-input" type="checkbox" value="" id="rememberCheckbox">
                                <label class="form-check-label" for="rememberCheckbox">Remember me</label>
                            </div>
                        </div>
                        <div class="col">
                            <button id="signin" type="submit" class="btn btn-block btnSignIn">Sign in</button>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <a class="forgotpassword mx-auto my-auto" href="#">Forgot Username or Password</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Account in Review Modal -->
<div class="modal fade" id="accountInReviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center mt-1">
                <h5 class="modal-title mt-3">Account in Review</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body justify-content-center d-flex">
                <span>Please wait while we are reviewing your account, it will take less than 24 hours.
                    If it already took 24 hours please <a href="#">contact us</a>.</span>
            </div>
            <div class="modal-footer">
                <button id="modalOK" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script> -->
<!-- Login JS -->
<script src="{% static '/js/login-validation.js' %}"></script>
<script>
    const csrftoken = '{{ csrf_token }}';
    setCSRF(csrftoken)
</script>
{% endblock %}