{% extends 'base.html' %} {% load static %}

{% block tags %}
<!-- Customized CSS -->
<link rel="stylesheet" href="{% static 'css/login_register/forgot-password.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5 content" style="height: 100vh;">
	<h3 style="color:#0b3531;">Enter new password</h3>
	<p class="mb-3">Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <div class="row">
            <div class="col-lg-5 mt-3">
                <button type="submit" class="btn" style="background-color: #628474; color: white;">Change my password</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}