{% extends 'base.html' %}
{% load static %}


{% block tags %}
    <!-- Customized CSS -->
    <link rel="stylesheet" href="{% static '/css/settings/settings.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 pl-0 pr-0 settings-container">
        
        <div class="d-flex justify-content-between align-items-center pl-3 pr-3 setting-header">
            <h5 class="mt-3">Settings</h5>
        </div>

        <div class="row pr-3 pl-3">
            <div class="col col-12 mt-4 mb-5">
                <div class="accordion" id="userEditAccordion">

                    <div class="card">
                      <div class="card-header" id="name-card">
                        <h5 class="mb-0">
                          <button class="btn btn-header btn-link" type="button" data-toggle="collapse" data-target="#name" aria-expanded="true" aria-controls="name">
                            Name
                          </button>
                        </h5>
                      </div>
                      <div id="name" class="collapse show" aria-labelledby="name-card" data-parent="#userEditAccordion">
                        <div class="card-body">
                         
                            <form class="pt-3" method="POST"> 
                                {% csrf_token %}
                                <div class="form-row row pr-2 pl-2">
                                    <div class="form-group col-lg-12 col-12 row">
                                        <label class="col-lg-3 col-12" for="first-name">First Name *</label>
                                        <input class="col-lg-6 col-12 form-control" type="text" name="first-name" id="first-name" placeholder="First Name" required maxlength="30" value="{{user.first_name}}">
                                    </div>
                                    <div class="form-group col-lg-12 col-12 row">
                                        <label class="col-lg-3 col-12"  for="last-name">Last Name *</label>
                                        <input class="col-lg-6 col-12 form-control" type="text" name="last-name" id="last-name" placeholder="Last Name" maxlength="30" required maxlength="30" value="{{user.last_name}}">
                                    </div>
                                    <div class="form-group col-12">
                                        <button type="submit" class="btn float-right save-btn" name="btn-save-name" id="btn-save-name">Save Changes</button>
                                        <button class="btn float-right cancel-btn" data-toggle="collapse" data-target="#name">Cancel</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                      </div>
                    </div>
        
                    <!-- Account Card -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                            <button class="btn btn-link btn-header collapsed" type="button" data-toggle="collapse" data-target="#account" aria-expanded="false" aria-controls="collapseTwo">
                                Account
                            </button>
                            </h5>
                        </div>
                        <div id="account" class="collapse" aria-labelledby="headingTwo" data-parent="#userEditAccordion">
                            <div class="card-body">
                                <form class="pt-3" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row row pr-2 pl-2">
                                        <div class="form-group col-lg-12 col-12 row">
                                            <label class="col-lg-3 col-12" for="first-name">Username</label>
                                            <input class="col-lg-6 col-12 form-control" type="text" name="username" id="username" placeholder="Username" required maxlength="30" value="{{user.username}}">
                                        </div>
                                        <div class="form-group col-lg-12 col-12 row">
                                            <label class="col-lg-3 col-12" for="middle-name">Current Password</label>
                                            <input class="col-lg-6 col-12 form-control" type="password" name="old_password" id="current-password" placeholder="Current Password" required maxlength="30">
                                        </div>
                                        <div class="form-group col-lg-12 col-12 row">
                                            <label class="col-lg-3 col-12"  for="last-name">New Password</label>
                                            <input class="col-lg-6 col-12 form-control" type="password" name="new_password1" id="new-password" placeholder="New Password" required maxlength="30">
                                        </div>
                                        <div class="form-group col-lg-12 col-12 row">
                                            <label class="col-lg-3 col-12"  for="last-name">Retype New Password</label>
                                            <input class="col-lg-6 col-12 form-control" type="password" name="new_password2" id="retype-password" placeholder="Retype New Password" required maxlength="30">
                                        </div>
                                        <div class="form-group col-12">
                                            <button type="submit" class="btn float-right save-btn">Save Changes</button>
                                            <button class="btn float-right cancel-btn" data-toggle="collapse" data-target="#account">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Contact Card -->   
                    <!-- <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                            <button class="btn btn-header btn-link collapsed" type="button" data-toggle="collapse" data-target="#contact" aria-expanded="false" aria-controls="collapseThree">
                                Contact Details
                            </button>
                            </h5>
                        </div>
                        <div id="contact" class="collapse" aria-labelledby="headingThree" data-parent="#userEditAccordion">
                            <div class="card-body">
                                <form class="pt-3 ml-2">

                                    <div class="col-10 col-md-10 row pr-2 pl-2">
                                        <div class="col-3 col-md-3">
                                            <div class="form-group">
                                                <label>Address *</label>
                                            </div>
                                        </div>
                                        {% if user.farmer %}
                                        <div class="col-7 col-md-7">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="address" id="address" placeholder="Address" required value="{{user.farmer.location}}">
                                            </div>
                                        </div>
                                        {% elif user.customer %}
                                        <div class="col-7 col-md-7">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="address" id="address" placeholder="Address" required value="{{user.customer.location}}">
                                            </div>
                                        </div>
                                        <div class="col-2 col-md-2">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-block add-btn" data-toggle="modal" data-target="#modal-edit">Add Address</button>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="col-10 col-md-10 row pr-2 pl-2">
                                        <div class="col-3 col-md-3">
                                            <div class="form-group">
                                                <label>Contact Number</label>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-7">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="contact-num" id="contact-num" placeholder="Contact Number" maxlength="30" required value="{{user.customer.contact_number}}{{user.farmer.contact_number}}">
                                            </div>
                                        </div>
                                    </div>
                            
                                    <div class="col-10 col-md-10 row pr-2 pl-2">
                                        <div class="col-3 col-md-3">
                                            <div class="form-group">
                                                <label>Email Address *</label>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-7">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="email" id="email" placeholder="Email Address" maxlength="30" required value="{{user.email}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-12">
                                            <button type="button" class="btn float-right save-btn">Save Changes</button>
                                            <button type="button" class="btn float-right cancel-btn" data-toggle="collapse" data-target="#account">Cancel</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div> -->

                    <!-- Contact Card -->   
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                            <button class="btn btn-header btn-link collapsed" type="button" data-toggle="collapse" data-target="#contact" aria-expanded="false" aria-controls="collapseThree">
                                Contact Details
                            </button>
                            </h5>
                        </div>
                        <div id="contact" class="collapse" aria-labelledby="headingThree" data-parent="#userEditAccordion">
                            <div class="card-body">
                                <form class="pt-3">
                                    <div class="form-row row pr-2 pl-2">
                                        {% if user.customer %}
                                        <div class="form-group col-lg-12 col-12 row">
                                            <label class="col-lg-3 col-12 float-right">Address *</label>
                                            <input class="col-lg-6 form-control" type="text" name="address" id="address" placeholder="Address" required value="{{user.farmer.location}}" readonly>
                                        </div>
                                        <div class="form-group col-lg-12 col-12 row">
                                            <label class="col-lg-3 col-12" for="middle-name">Contact Number</label>
                                            <input class="col-lg-6 col-12 form-control" type="text" name="contact-num" id="contact-num" placeholder="Contact Number" maxlength="30" required value="{{user.customer.contact_number}}">
                                        </div>
                                        {% elif user.farmer %}
                                        <div class="form-group col-lg-12 col-12 row">
                                            <label class="col-lg-3 col-12">Address *</label>
                                            <input class="col-lg-6 col-12 form-control" type="text" name="address" id="address" placeholder="Address" required value="{{user.farmer.location}}" readonly>
                                            <button type="button" class="col btn float-right edit-address-btn form-control" data-toggle="modal" data-target="#modal-edit">Edit Address</button>
                                            <button type="button" class="col btn float-right add-address-btn form-control">Add</button>
                                        </div>
                                        <div class="form-group col-lg-12 col-12 row">
                                            <label class="col-lg-3 col-12" for="middle-name">Contact Number</label>
                                            <input class="col-lg-6 col-12 form-control" type="text" name="contact-num" id="contact-num" placeholder="Contact Number" maxlength="30" required value="{{user.farmer.contact_number}}">
                                        </div>
                                        {% endif %}
                                        <div class="form-group col-lg-12 col-12 row">
                                            <label class="col-lg-3 col-12"  for="last-name">Email Address *</label>
                                            <input class="col-lg-6 col-12 form-control" type="text" name="email" id="email" placeholder="Email Address" maxlength="30" required value="{{user.email}}">
                                        </div>
                                        <div class="form-group col-12">
                                            <button type="button" class="btn float-right save-btn">Save Changes</button>
                                            <button type="button" class="btn float-right cancel-btn" data-toggle="collapse" data-target="#others">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Others -->
                    {% if user.farmer %}
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                            <button class="btn btn-header btn-link collapsed" type="button" data-toggle="collapse" data-target="#others" aria-expanded="false" aria-controls="collapseThree">
                                Others
                            </button>
                            </h5>
                        </div>
                        <div id="others" class="collapse" aria-labelledby="headingFour" data-parent="#userEditAccordion">
                            <div class="card-body">
                                <form class="pt-3">
                                    <div class="form-row row pr-2 pl-2">
                                        <div class="form-group col-lg-12 col-12 row">
                                            <label class="col-lg-3 col-12"  for="last-name">Land Area (sqm)*</label>
                                            <input class="col-lg-6 col-12 form-control" type="number" name="land-area" id="land-area" placeholder="0 sqm"  required value="{{user.farmer.land_area}}">
                                        </div>
                                        <div class="form-group col-lg-12 col-12 row">
                                        <label class="col-lg-3 col-12"  for="last-name">Company *</label>
                                        <input class="col-lg-6 col-12 form-control" type="email" name="company" id="company" placeholder="" maxlength="30" required value="{{user.farmer.company}}">
                                    </div>
                                        <div class="form-group col-12">
                                            <button type="button" class="btn float-right save-btn">Save Changes</button>
                                            <button type="button" class="btn float-right cancel-btn" data-toggle="collapse" data-target="#others">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>


            <!-- <div class="col-md-3 col-12" style="background: blue; min-height: 30px;">
            </div> -->

        </div>

        <!-- MODALS -->
        <!-- edit address -->
        <div class="modal-edit modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modalEditAddress" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="customer-order-form" novalidate autocomplete="off" method="POST">
                            {% csrf_token %}
                            <div class="container pl-4 pr-5 mt-5 group-inputs">
                                <div class="form-row row-12 mt-2">
                                    <div class="form-group col-12 col-md-3 pt-2 d-flex justify-content-md-end align-items-center font-weight-bold">
                                        <label for="province">Address:</label>
                                    </div>
                                    <div class="form-group col-12 col-md-9">
                                        <select class="form-control" name="province" id="province">
                                        </select>
                                    </div>
                                    <div class="form-group offset-md-3 col-12 col-md-9">
                                        <select class="form-control" name="city" id="city">
                                        </select>
                                    </div>
                                    <div class="form-group offset-md-3 col-12 col-md-9">
                                        <select class="form-control" name="brgy" id="barangay">
                                        </select>
                                    </div>
                                    <div class="form-group offset-md-3 col-12 col-md-9">
                                        <input class="form-control" type="text" name="street" id="street" placeholder="Street/House Number" maxlength="30">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="pt-3 pb-3 pl-5 pr-5 d-flex justify-content-between">
                        <button type="button" class="btn cancel-btn" data-dismiss="modal">Cancel</button>
                        <input type="button" class="btn btn-danger edit-btn" value="Edit Address">
                    </div>
                </div>
            </div>
        </div>   

    
    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static '/js/password/password-validator.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/load-address.js' %}"></script>
    <script>
        $(document).ready(function() {
            loadAddresses("{% static '/js/philippine_address_2019v2.json' %}");
        });
    </script>  
{% endblock %}