{% extends 'base.html' %} {% load static %}

{% block tags %}
<!-- Customized CSS -->
<link rel="stylesheet" href="{% static 'css/login_register/terms-and-conditions.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5 p-0" style="min-height: 90vh;">
	<div class="body-content" style="min-height: 50vh;">
		<div class="col-12">
			<div class="row col-12 justify-content-center">
				<p class="font-weight-bold text-uppercase title">Terms and Conditions of Use</p>
			</div>
			<div class="row content">
				<div class="subtitle">Subtitle</div>
				<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse numquam, ipsa totam natus nulla a alias eos
					excepturi itaque blanditiis. Ad sit voluptas aspernatur delectus dolorem alias corporis aliquam non.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse numquam, ipsa totam natus nulla a alias eos
					excepturi itaque blanditiis. Ad sit voluptas aspernatur delectus dolorem alias corporis aliquam non.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse numquam, ipsa totam natus nulla a alias eos
					excepturi itaque blanditiis. Ad sit voluptas aspernatur delectus dolorem alias corporis aliquam non.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse numquam, ipsa totam natus nulla a alias eos
					excepturi itaque blanditiis. Ad sit voluptas aspernatur delectus dolorem alias corporis aliquam non.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse numquam, ipsa totam natus nulla a alias eos
					excepturi itaque blanditiis. Ad sit voluptas aspernatur delectus dolorem alias corporis aliquam non.</div>
			</div>

			<div class="row content">
				<div class="subtitle">Subtitle</div>
				<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse numquam, ipsa totam natus nulla a alias eos
					excepturi itaque blanditiis. Ad sit voluptas aspernatur delectus dolorem alias corporis aliquam non.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse numquam, ipsa totam natus nulla a alias eos
					excepturi itaque blanditiis. Ad sit voluptas aspernatur delectus dolorem alias corporis aliquam non.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse numquam, ipsa totam natus nulla a alias eos
					excepturi itaque blanditiis. Ad sit voluptas aspernatur delectus dolorem alias corporis aliquam non.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse numquam, ipsa totam natus nulla a alias eos
					excepturi itaque blanditiis. Ad sit voluptas aspernatur delectus dolorem alias corporis aliquam non.</div>
			</div>

			<div class="row content mt-5">
				<span class="print mx-auto mt-3 d-print-none" onclick="window.print()"><i class="fa fa-print"></i> Print this page</span>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}