{% extends 'base.html' %} {% load static %}

{% block tags %}
<!-- Customized CSS -->
<link rel="stylesheet" href="{% static 'css/login_register/others.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5" style="min-height: 100vh;">
	<div class="body-dashoard container-fluid" style="min-height: 50vh;">
		<div class="content mt-4">
			<div class="row justify-content-center">
				<p class="font-weight-bold text-uppercase title">Contact Us</span>
			</div>
			<div >
				<div class="row justify-content-center">
					<span><strong>Website:</strong>&nbsp; <a href="https://www.atoani.com/">www.atoani.com/ <i class="fa fa-external-link" aria-hidden="true"></i></a></span>
				</div>
				<div class="row justify-content-center">
					<span><strong>Facebook:</strong>&nbsp; <a href="https://www.facebook.com/atoaniph">www.facebook.com/atoaniph <i class="fa fa-external-link" aria-hidden="true"></i></a></span>
				</div>
				<div class="row justify-content-center">
					<span><strong>Twitter:</strong> &nbsp;<a href="https://twitter.com/ato_ani">www.twitter.com/ato_ani <i class="fa fa-external-link" aria-hidden="true"></i></a></span>
				</div>
				<div class="row justify-content-center">
					<span><strong>Instagram:</strong> &nbsp;<a href="https://www.instagram.com/atoani.ph/">www.instagram.com/atoani.ph/ <i class="fa fa-external-link" aria-hidden="true"></i></a></span>
				</div>
				<div class="row justify-content-center">
					<span><strong>LinkedIn:</strong> &nbsp;<a href="https://www.linkedin.com/company/atoani/">www.linkedin.com/company/atoani/ <i class="fa fa-external-link" aria-hidden="true"></i></a></span>
				</div>
				
				<div class="row justify-content-center mt-3 mb-3">
					<span><strong>Email:</strong>&nbsp; atoani.ph@gmail.com</span>
				</div>
				<div class="row justify-content-center">
					<span><strong>Contact Numbers</strong></span>
				</div>
				<div class="row justify-content-center">
					<strong>Bohol: </strong>&nbsp; +639434340946
				</div>
				<div class="row justify-content-center">
					<strong>Cebu: </strong>&nbsp;  032-384-8207, &nbsp;+639257206030
				</div>
				<div class="row justify-content-center">
					<strong>Manila: </strong>&nbsp;  8254-9398, &nbsp;+639258465521
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<!-- Login JS -->
<!-- <script src="{% static '/js/login-validation.js' %}"></script> -->
{% endblock %}