{% extends 'base.html' %} {% load static %}

{% block tags %}
<!-- Customized CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/login_register/forgot-password.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5 content" style="height: 100vh;">
	<h3 style="color:#0b3531;">Password Reset</h3>
	Forgotten your password? Enter your email address below, we'll email instructions for setting a new one.
    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="row mt-3">
                <div class="col-lg-6">
                    <input type="email" class="w-100 h-100" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Email Address">
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn" style="background-color: #628474; color: white;">Submit</button>
                </div>
            </div>
        </form>    
        <div class="mt-5">
            <a id="btn1" class="subtitle"> <i class="fa fa-info-circle mr-3" aria-hidden="true"></i>I forgot my email address</a>
        </div>
        <div class="w-75 ml-5">
            <p id="btn1Answer" class="answer">You may contact the AtoANI Customer Service in this contact number 0912-345-6789 or <a href="{% url 'login_register:contact-us' %}" style="color: goldenrod;">visit our social media sites</a></p>
        </div>
        <div>
            <a id="btn2" class="subtitle"><i class="fa fa-info-circle mr-3" aria-hidden="true"></i>I have not added email address in my account</a>
        </div>
        <div class="w-75 ml-5">
            <p id="btn2Answer" class="answer">You may contact the AtoANI Customer Service in this contact number 0912-345-6789 or <a href="{% url 'login_register:contact-us' %}" style="color: goldenrod;">visit our social media sites</a></p>
        </div>
    </div>
	
</div>

{% endblock %}

{% block scripts %}
<!-- AJAX -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Forgot password JS -->
<script src="{% static 'js/login_register/forgot-password.js' %}"></script>
<script>
  $(document).ready(function () {
    initialize();
  });
</script>
{% endblock %}