{% extends "base.html" %}
{% load static %}

{% block tags %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/login_register/registration.css' %}">
{% endblock %}


{% block content %}
    <div class="container pr-0 pl-0 pb-4 mt-5 mb-5 form-registration">
        <div class="form-header d-flex justify-content-between align-items-center pl-3 pr-3 text-white">
            <span>Registration</span><span class="font-italic">Fields with * are required</span>
        </div>
        <div class="form-body mt-5 ml-auto mr-auto">
            <form class="registration-form" novalidate autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="container pl-0 pr-0 mt-5 group-inputs">
                    <div class="group-title row-12 d-flex justify-content-between pr-3 pl-3 pb-2 pt-2 font-italic font-weight-bold">
                        Account Information
                    </div>

                    <div class="form-row row-12 pr-sm-5 pl-sm-5 pr-3 pl-3 mt-4">
                        <div id="account-type-tag" class="form-group d-flex align-items-center col-md-1 col-12">
                            I am a. . .
                        </div>
                        <div class="form-group col-md-7 col-9 d-flex">
                            <div class="d-flex justify-content-center form-check form-check-inline account-type">
                                <input name="account-type" class="form-check-input" type="radio" id="customer" value="Customer" checked>
                                <label class="form-check-label" for="customer">Customer</label>
                            </div>
                            <div class="d-flex justify-content-center form-check text-center form-check-inline account-type">
                                <input name="account-type" class="form-check-input" type="radio" id="farmer" value="Farmer">
                                <label class="form-check-label" for="farmer" >Farmer</label>
                            </div>  
                        </div>
                        <div class="form-group col-md-4 col-12 d-flex align-items-center">
                            <input class="form-control" type="hidden" id="landarea" name="land_area" placeholder="Land Area (sqm) *"required>
                        </div>
                    </div>


                    <div class="form-row row-12 mt-1 pb-4 pr-sm-5 pl-sm-5 pr-3 pl-3">
                        <div  class="form-group col-12 col-md-4 input-group">
                            <input class="form-control" type="text" name="username" id="username" placeholder="Username *" maxlength="16" required>
                            <div id="username-invalid" class="invalid-feedback">
                                Please enter your username. 
                            </div>
                        </div>

                        <div class="form-group col-12 col-md-4 input-group">
                            <div class="input-group pr-password">
                                <input class="form-control" type="password" name="password1" id="pr-password" placeholder="Password *" maxlength="16" autocomplete="new-password" required >
                                <div class="input-group-append">
                                    <span class="input-group-text view-password fa fa-eye" style="border-top-right-radius: 0.4rem; border-bottom-right-radius: 0.4rem;"></span>
                                </div>
                                <div class="invalid-feedback">
                                    You must have a strong password.
                                </div>
                                <div class="valid-feedback">
                                    Password accepted.
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-12 col-md-4">
                            <div class="input-group">
                                <input class="form-control" type="password" name="password2" id="password-confirm" placeholder="Confirm Password *" maxlength="16" required>
                                <div class="input-group-append">
                                    <span class="input-group-text view-password-confirm fa fa-eye" style="border-top-right-radius: 0.4rem; border-bottom-right-radius: 0.4rem;"></span>
                                </div>
                                <div class="invalid-feedback">
                                    Passwords don't match.
                                </div>
                                <div class="valid-feedback">
                                    Password Match
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="container pl-0 pr-0 mt-5 p group-inputs">
                    <div class="group-title row-12 d-flex pr-3 pl-3 pb-2 pt-2 mb-5 font-italic font-weight-bold">
                        Personal Information
                    </div>

                    <div class="form-row row-12 mt-4  pr-sm-5 pl-sm-5 pr-3 pl-3">
                        <div class="form-group col-md-4">
                            <input class="form-control" type="text" name="first-name" id="first-name" placeholder="First Name *" required maxlength="30">
                            <div class="invalid-feedback">
                                Please enter your first name.
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="form-control" type="text" name="last-name" id="last-name" placeholder="Last Name *" maxlength="30" required maxlength="30">
                            <div class="invalid-feedback">
                                Please enter your last name.
                            </div>
                        </div>
                    </div>

                    <div class="form-row row-12 mt-4 pr-sm-5 pl-sm-5 pr-3 pl-3">
                        <div class="form-group col-12 col-md-3 col-sm-6">
                            <select class="form-control" name="province" id="province" required>
                                <option value="-1" disabled selected hidden>Province *</option>
                            </select>
                            <div id="province-invalid" class="invalid-feedback">
                                Please choose your province.
                            </div>
                        </div>
                        <div class="form-group col-12 col-md-3 col-sm-6">
                            <select class="form-control" name="city" id="city" disabled>
                                <option value="" disabled selected hidden>City *</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-md-3 col-sm-6">
                            <select class="form-control" name="brgy" id="barangay" disabled>
                                <option value="" disabled selected hidden>Barangay *</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-md-3 col-sm-6" >
                            <input class="form-control" type="text" name="street" id="street" placeholder="Street" maxlength="30">
                        </div>
                    </div>

                    <div class="form-row row-12 mt-4 pr-sm-5 pl-sm-5 pr-3 pl-3">
                        <small>You may put your contact number or email or both. *</small>
                        <input name="contact-info" id="contact-info" hidden  required/>
                        <div class="invalid-feedback">
                            Please enter your email or phone number 
                        </div>
                    </div>
                    
                    <div class="form-row row-12 mt-2 pr-sm-5 pl-sm-5 pr-3 pl-3">
                        <div class="form-group col-12 col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="prep">+63</span>
                                </div>
                                <input class="form-control" type="text" name="contact_number" pattern=".{10,11}" maxlength="11"  id="contact-number" placeholder="Contact Number">
                                <div id="contact-invalid" class="invalid-feedback">
                                    Phone number must be in one of these formats: 9xxxxxxxxx or 09xxxxxxxxx
                                </div>
                            </div>  
                        </div>
                        <div class="form-group col-12 col-md-4 email pb-4">
                            <input class="form-control" type="email" name="email" id="email" placeholder="Email" maxlength="30">
                            <div id="email-invalid" class="invalid-feedback">
                                Please enter your email address in format: yourname@example.com
                            </div>
                        </div>
                        <div class="form-group col-12 col-md-4 pb-3 ">
                            <input class="form-control" type="text" name="company" id="company-name" placeholder="Company Name" maxlength="100">
                        </div>
                    </div>
                </div>

                <div class="container row-12 pl-0 pr-0 mt-5 p group-inputs">
                    <div class="group-title col-12 d-flex pr-3 pl-3 pb-2 pt-2 mb-5 font-italic font-weight-bold">
                        Security
                    </div>
                    <div class="form-row col-md-6 col-12 mt-1 pr-sm-5 pl-sm-5 pr-3 pl-3">
                        <div class="form-group col-12 d-flex">
                            <input class="form-control" type="text" name="first_question_answers" hidden>
                            <label class="h-100 d-flex align-items-end pr-2">1.</label>
                            <select class="form-control" name="security-question-1" id="security-question-1">
                                <option value="What is the maiden name of your mother?">What is the maiden name of your mother?</option>
                                <option value="What was your childhood nickname?">In what city did you meet your spouse/significant other?</option>
                                <option value="In what city did you meet your spouse/significant other?">What Is your favorite book?</option>
                                <option value="What is the name of your favorite childhood friend?">What is the name of your favorite childhood friend?</option>
                            </select>
                        </div>
                        <div class="form-group col-12 pl-4">
                            <input class="form-control" type="text" name="answer-1" id="answer-1" placeholder="Answer 1 *" maxlength="50" required>
                            <div id="username-invalid" class="invalid-feedback">
                                Please enter your answer. 
                            </div>
                        </div>
                        <div class="form-group col-12 d-flex mt-4">
                            <input class="form-control" type="text" name="second_question_answers" hidden>
                            <label class="h-100 d-flex align-items-end pr-2">2.</label>
                            <select class="form-control" name="security-question-2" id="security-question-2">
                                <option value="What was the name of your elementary / primary school?">What was the name of your elementary / primary school?</option>
                                <option value="What is the name of the company of your first job?">What is the name of the company of your first job?</option>
                                <option value="Who was your childhood hero?">Who was your childhood hero?</option>
                                <option value="What is your mother's middle name?">What is your mother's middle name?</option>
                            </select>
                        </div>
                        <div class="form-group col-12 pl-4">
                            <input class="form-control" type="text" name="answer-2" id="answer-2" placeholder="Answer 2 *" maxlength="50" required>
                            <div id="username-invalid" class="invalid-feedback">
                                Please enter your answer. 
                            </div>
                        </div>
                        <div class="col-12 pl-4">
                            <small>Note: <br />These security questions will be used when you forgot your password.</small>
                        </div>
                    </div>
                    <div class="col-12 mt-5 text-center">
                        <input type="checkbox" class="form-check-input" id="termsAndConditions">
                        <label class="form-check-label">I Agree to the <a href="{% url 'login_register:terms-and-conditions-of-use' %}" id="termsAndConditionsLink" target="_blank">terms and conditions</a> *</label>
                    </div>
                    <div class="col-12 mt-3 text-center">
                        <input id="submit" class="btn order-sm-1 order-1 " type="submit" value="Sign Up">
                    </div>
                    <div id="terms-and-conditions-invalid" class="col-12 mt-3 text-center d-none">
                        Please mark check if you have read and agree the Terms and Conditions.
                    </div>
                    <div id="reminder" class="col-12 mt-3 text-center">
                        Please answer all the fields with asterisk.
                    </div>
                    <div class="col-12 mt-5 text-center">
                        <a href="{% url 'login_register:login' %}" class="order-sm-1 order-2 mt-xs-0 mt-2">I already have an account</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!--Password Validation -->
    <!--Dont transfer these files -->
    <script src="{% static '/js/login_register/password/password-validator.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/login_register/validate-registration.js' %}" type="text/javascript"></script>  

    <!-- To avoid mix content, make sure it is in https, coincides with the webiste-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    
    <script src="{% static '/js/global/load-address.js' %}"></script>
    <script>
        $(document).ready(function() {
            loadAddresses("{% static '/js/json/philippine_address_2019v2.json' %}");
        });
    </script>
{% endblock %}








