@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Sriracha&display=swap");
body {
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sriracha", cursive;
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0b3531), color-stop(50%, #628474));
  background: linear-gradient(to right, #0b3531 50%, #628474 50%);
}

.navbar {
  border-bottom: 2px solid #0b3531;
}

.navbar .wraper {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .div-1 {
  width: calc( 25% - 40px);
  height: 100%;
  background: #0b3531;
}

.navbar .div-1 .imgLogo {
  margin-top: 10px;
  height: 45px;
  width: auto;
}

.navbar .div-2 {
  width: calc( 75% + 40px);
  height: 100%;
  border-left: 50px solid #0b3531;
  border-bottom: 70px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #628474;
}

.navbar .div-2 div.navbar-collapse ul li:hover {
  background-color: #114a44;
  border-radius: 5px;
}

.navbar .div-2 div.navbar-collapse ul li a.nav-link {
  text-align: right;
}

.navbar .div-2 a {
  color: white;
}

.navbar .div-2 a.dropdown-item {
  color: #0a0a0a;
}

.navbar .div-2 a.dropdown-item:hover {
  background: #628474;
  color: white;
}

.navbar .div-2 .navbar-toggler-icon {
  color: white;
}

@media only screen and (max-width: 990px) {
  .navbar .div-1 {
    width: calc( 35% - 40px);
  }
  .navbar .div-1 .imgLogo {
    margin-top: 10px;
    height: 35px;
  }
  .navbar .div-2 {
    width: calc( 65% + 40px);
  }
  .navbar .div-2 div.navbar-collapse {
    background-color: #628474;
  }
  .navbar .div-2 div.navbar-collapse ul li:hover {
    border-radius: 0px;
  }
  .navbar .div-2 div.navbar-collapse ul li a.nav-link {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 770px) {
  .navbar .div-1 {
    width: calc( 40% - 40px);
  }
  .navbar .div-1 .imgLogo {
    margin-top: 13px;
    height: 35px;
  }
  .navbar .div-2 {
    width: calc( 60% + 40px);
  }
}

@media only screen and (max-width: 600px) {
  .navbar .div-1 {
    width: calc( 60% - 40px);
  }
  .navbar .div-1 .imgLogo {
    margin-top: 13px;
    height: 35px;
  }
  .navbar .div-2 {
    width: calc( 40% + 40px);
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #628474;
}

.footer .container {
  color: white;
  text-align: right;
}

.footer .container span {
  font-size: .8rem;
}

.footer .container span .icon {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

body {
  background: #fff;
}

.tab {
  margin-left: 4rem;
}

.sidebar {
  background: #8FAB9E;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .sidebar-nav {
  background: #628474;
  display: block;
  width: 100%;
  cursor: pointer;
  color: black;
  text-align: left;
  border: none;
  outline: none;
}

.sidebar .sidebar-nav:hover {
  background-color: #00CC00;
  color: #0b3531;
}

.sidebar .focussed {
  background-color: #006600;
  color: white;
  outline: none;
}

.sidebar .dropdown-container {
  background-color: #262626;
}

.sidebar .orders-title {
  margin-top: 20px;
  background: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-align: left;
  width: 100;
  color: #0b3531;
}

.sidebar .orders-title.active:hover, .sidebar .orders-title:hover {
  text-decoration: none;
}

.sidebar .orders-title.active {
  background: #0b3531;
  color: white;
}

.sidebar .orders-title.active:hover {
  background: #0b3531;
  color: white;
}

.sidebar .orders-title:hover {
  background-color: green;
  color: black;
}

.sidebar .sidebar-nav, .sidebar .orders-title {
  padding-left: 20%;
}

.sidebar .fa-caret-down {
  float: right;
  padding-right: 8px;
  padding-top: 5px;
}

.sidebar .users-title {
  margin-top: 7.5rem;
}

.orders .view-order {
  background: #EBF2F2;
}

.orders .view-order .order-id {
  color: black;
}

.orders .view-order-btn {
  background: none;
  color: #114a44;
  font-weight: bold;
}

.orders .view-order-btn:hover {
  background-color: none;
}

.orders .view-order-btn:focus {
  color: lightgreen;
  background-color: none;
  outline: none;
}

.body-dashoard {
  position: relative;
  width: 90%;
  min-height: 180px;
  border: 2px #114a44 solid;
  border-radius: 0.5rem;
}

.body-dashoard .title {
  position: absolute;
  left: 2rem;
  top: -1rem;
  background: #fff;
  color: #114a44;
  font-weight: bold;
}

.body-dashoard .order-btn {
  position: absolute;
  right: 2rem;
  top: -1.4rem;
  background: #628474;
  font-weight: bold;
  width: 8rem;
  color: #fafafa;
}

.body-dashoard .orders {
  height: 280px;
  font-weight: bold;
}

.body-dashoard .order-tab,
.body-dashoard .reserved-orders,
.body-dashoard .incoming-orders,
.body-dashoard .finished-orders {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.body-dashoard .order-table-holder {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.body-dashoard .order-type {
  height: 84%;
  color: #0b3531;
  font-size: 6rem;
}

.body-dashoard .box, .body-dashoard .tab {
  border-radius: 0.5rem;
}

.body-dashoard .box {
  background: #EBF2F2;
  color: #0b3531;
  height: 2.75rem;
  z-index: 4;
  -webkit-box-shadow: 0px 2px 6px 2px #e0e0e0;
          box-shadow: 0px 2px 6px 2px #e0e0e0;
}

.body-dashoard .reserved-orders {
  background-color: #9387DF;
  color: #fff;
  cursor: pointer;
}

.body-dashoard #finished-table .order-tab {
  background: #5C5CE4;
  color: #fff;
}

.body-dashoard #incoming-table .order-tab {
  background: #D2467B;
  color: #fff;
}

.body-dashoard #reserved-table .order-tab {
  background: #9387DF;
  color: #fff;
}

.body-dashoard .order-tab {
  background: black;
}

.body-dashoard .incoming-orders {
  background-color: #D2467B;
  color: #fff;
  cursor: pointer;
}

.body-dashoard .finished-orders {
  background-color: #5C5CE4;
  color: #fff;
  cursor: pointer;
}

.body-dashoard .order-table-holder {
  background: #EBF2F2;
}

.body-dashoard .reserved-orders:hover,
.body-dashoard .incoming-orders:hover,
.body-dashoard .finished-orders:hover {
  cursor: pointer;
}

.body-dashoard .nav-tabs a {
  text-decoration: none;
  color: #0b3531;
}

.body-dashoard .nav-pills > li.active > a, .body-dashoard .nav-pills > li.active > a:hover, .body-dashoard .nav-pills > li.active {
  color: black;
  background: none;
}

.body-dashoard .nav-tabs > li.active > a, .body-dashoard .nav-tabs > li.active > a:focus, .body-dashoard .nav-tabs > li.active {
  padding: 1rem;
}

.body-dashoard .nav-tabs {
  border: 0;
}

.body-dashoard .opbtn {
  background-color: Transparent !important;
  background-repeat: no-repeat;
  border: none !important;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #23A517;
}

.body-dashoard .btnreserve {
  background-color: Transparent !important;
  background-repeat: no-repeat;
  border: none !important;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #001AFF;
}

.body-dashoard table {
  width: 95%;
  border-radius: 0.5rem;
  color: #0b3531;
  background-color: #fff;
  border-bottom: 1px solid #0b3531;
}

.body-dashoard table thead {
  color: #fafafa;
  background: #0b3531;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-weight: normal;
}

.body-dashoard table thead th {
  font-weight: normal;
}

.body-dashoard table thead th:first-child {
  border-top-left-radius: 0.5rem;
}

.body-dashoard table thead th:last-child {
  border-top-right-radius: 0.5rem;
}

.body-dashoard table tbody td {
  border-left: 1px solid #0b3531;
  border-right: 1px solid #0b3531;
  border-top: none !important;
}

.body-dashoard table tfoot td:not(:last-child), .body-dashoard table tfoot th:not(:last-child) {
  border-right: 1px solid #0b3531;
}

.body-dashoard table tfoot td, .body-dashoard table tfoot th {
  border-top: 0;
  text-align: center;
  font-weight: normal;
}

.body-dashoard .tab-content {
  border-radius: 0.5rem;
}

.body-dashoard .order-table {
  -webkit-box-shadow: 0px 0px 2px 2px #e0e0e0;
          box-shadow: 0px 0px 2px 2px #e0e0e0;
  min-height: 100px;
  padding-bottom: 3rem;
  background: #EBF2F2;
  border-radius: 0.5rem;
}
/*# sourceMappingURL=custom-admin.css.map */