#customer-order-form{
    #kg-indicator{
        position: absolute;
        right: 35px;
        top: 6px;
        background: none;
        color: $text-color2;
    }

    button{
        width: 8rem;
    }

}