body{
    background: #fff;
}
.body-dashoard{
    position: relative; 
    width: 90%; 
    min-height: 180px; 
    border: 2px $main-color solid; 
    border-radius: 0.5rem;
    .title{
        position: absolute;
        left: 2rem;
        top: -1rem;
        background: #fff;
        color: $main-color;
        font-weight: bold;
    }
    .order-btn{
        position: absolute;
        right: 2rem;
        top: -1.4rem;
        background: $secondary-color;
        font-weight: bold;  
        width: 8rem;     
        color: $white-color;
    }
    .orders{
        height: 280px;
        font-weight: bold;
    }
    .order-type{
        height: 84%; 
        color: $tertiary-color;
        font-size: 6rem;
    }
    .box, .tab{
        border-radius: 0.5rem;
    }
    .box{
        background: #EBF2F2;
        color: $tertiary-color;
        height: 2.75rem;
        z-index: 4;
        box-shadow: 0px 2px 6px 2px #e0e0e0;
    }
    #reserved-table .order-tab{
        background:  #8FAB9E;
        color: #fff;
    }
    #finished-table .order-tab{
        background: #0B3531;
        color: #fff;
    }
    #pending-table .order-tab{
        background: #9D7C69;  
        color: #fff;
    }
    .finished-orders{
        background-color: #0B3531;
        color: #fff;
        cursor: pointer;
    }
    .reserved-orders{
        background-color: #8FAB9E;
        color: #fff;
        cursor: pointer;
    }
    .pending-orders{
        background-color:#9D7C69;  
        color: #fff;
        cursor: pointer;
    }
    .order-table-holder{
        background: #EBF2F2;
    }
    .order-tab{
        background: black;
    }
    .order-tab,
    .pending-orders,
    .finished-orders,
    .reserved-orders{
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        &:hover{
            cursor: pointer;
        }
    }   
    .nav-tabs a {
        text-decoration: none;
        color: $tertiary-color;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active {
        color:black;
        background: none;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active{
       padding: 1rem;  
    }
    .nav-tabs{
        border: 0;
    }
    .opbtn{
        background-color: Transparent!important;
        background-repeat:no-repeat;
        border: none!important;
        cursor:pointer;
        overflow: hidden;
        outline:none;  
        color: #23A517;
    }
    .btnreserve{
        background-color: Transparent!important;
        background-repeat:no-repeat;
        border: none!important;
        cursor:pointer;
        overflow: hidden;
        outline:none;  
        color: #001AFF;
    }
        table {
        border-collapse: collapse;
      }
      
    
    table {
        width: 95%; 
        border-radius: 0.5rem;
        color: $tertiary-color;
        background-color: #fff;
        border-bottom: 1px solid $tertiary-color;
        border: 0;
        thead{
            color: $white-color;   
            background: $tertiary-color;
            font-weight: normal;
            th{
                font-weight: normal;
            }
        }   
        tbody {
            tr td{
                border-left: 0.2px solid $tertiary-color;
                border-right: 0.2px solid $tertiary-color;
                border-top: none!important;
            }
            tr:first-child td {
                border-top: 0;
            }
            tr:last-child td {
                border-bottom: 0;
            }
        }
    }
    .search input[type=search]{
        width: 15rem;
        border: 0;
        padding: 0.25rem;
        border-radius: 0.5rem;
        &:focus{
            outline: none !important;
        }
    }
    input[type=date]{
        border: 0 !important;
        padding: 2px;
        background: white;
        &:focus{
            outline: none !important;
        }
    }
    .tab-content{
        border-radius: 0.3rem;
    }
    .order-table{
        box-shadow: 0px 0px 2px 2px #e0e0e0;
        min-height: 100px;
        padding-bottom: 3rem;
        background: #EBF2F2;
        border-radius: 0.5rem;
    }
    .pagination{
        background: red;
        display: flex;
    }
    /*this is for the border-radius of the columns as they collaspse*/
    //@media only screen and (max-width: 678px){ thead th:nth-of-type(4){ border-top-right-radius: 0.5rem; } }
    //@media only screen and (max-width: 572px){ thead th:nth-of-type(3){ border-top-right-radius: 0.5rem; } }
    //@media only screen and (max-width: 472px){ thead th:nth-of-type(2){ border-top-right-radius: 0.5rem; } }
    //@media only screen and (max-width: 352px){ thead th:nth-of-type(1){ border-top-right-radius: 0.5rem; } }
    /*this for breakpoint ui style*/
    @media only screen and (max-width: 1200px) {
        //#pending-table-orders, #finished-table-orders, #reserved-table-orders{
        //    margin-top: 60px !important;
        //}
        .date-range{
            //margin-top: 50px;
            position: absolute;
            z-index: 100;
        }
        #pending-table-orders_filter, 
        #pending-table-orders_length, 
        #finished-table-orders_filter,
        #finished-table-orders_length,
        #reserved-table-orders_filter,
        #reserved-table-orders_length{
            margin-top: 3rem;
        }
    }
    @media only screen and (max-width: 720px) {
        .title{
            position: absolute;
            left: 0.5rem;
            top: -1rem;
            background: #fff;
            color: $main-color;
            font-weight: bold;
        }
        .order-btn{
            position: absolute;
            right: 0.5rem;
            top: -1.4rem;
            background: $secondary-color;
            font-weight: bold;  
            width: 8rem;     
            color: $white-color;
        }
        .box{
            background: #EBF2F2;
            color: $tertiary-color;
            height: 50px;
            z-index: 4;
            box-shadow: 0px 2px 6px 2px #e0e0e0;
        }
        .order-type{
            height: 70%;
            color: $tertiary-color;
            font-size: 2.5rem;
        }
        .orders{
            height: 130px;
            font-weight: bold;
        }
        .reserved-orders,
        .pending-orders,
        .finished-orders{
            border-top-right-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
            font-size: 12px;
        }
        .search input[type=search]{
            width: 9rem;
        }
        .order-tab, table, input, label, .dataTables_info, .pagination, .modal-body .row div{
            font-size: 12px;
        }
    }
    @media only screen and (max-width: 590px) {
        #pending-table-orders, #finished-table-orders, #reserved-table-orders{
            margin-top: 0px !important;
        }
        .date-range{
            margin-top: 00px;
            position: relative;
        }
        #pending-table-orders_filter, 
        #pending-table-orders_length, 
        #finished-table-orders_filter,
        #finished-table-orders_length,
        #reserved-table-orders_filter
        #reserved-table-orders_length{
            margin-top: 0px;
        }
    }
}

