.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $secondary-color;
    .container {
        color: white;
        text-align: right;
        span {
            font-size: .8rem;
            .icon {
                font-size: 1.2rem;
            }
        }
    }
}