{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static '/css/registration.css' %}">

</head>

<body class="body-font">

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">AtoANI iCROP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Language
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Bisaya</a>
                                <a class="dropdown-item" href="#">English</a>
                                <a class="dropdown-item" href="#">Tagalog</a>
                            </div>
                        </li>
                    </ul>
                    <div class="my-lg-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login_register:login' %}">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </nav>

    <div class="container pr-0 pl-0 pb-4 mt-5 form-registration">
        <div class="form-header d-flex justify-content-between align-items-center pl-3 pr-3">
            <span>Registration</span>
        </div>

        <div class="form-body mt-4 ml-auto mr-auto">
            <form class="registration-form" novalidate>
                <div class="form-row row-12 mt-5">
                    <div class="form-group col-md-6 col-push-12 order-md-1 order-2 mt-md-0 mt-4">
                        <div class="row d-flex float-left">
                            <div class="col-md-4">
                                <span class="mr-1">I am a&nbsp.&nbsp;.&nbsp. </span>
                            </div>
                            <div class="col-md-2 ml-4 float-left form-check form-check-inline ">
                                <input name="account-type" class="form-check-input" type="radio" id="farmer" value="Farmer" checked>
                                <label class="form-check-label" for="farmer" >Farmer</label>
                            </div>
                            <div class="col-md-2 ml-4 float-left form-check form-check-inline">
                                <input name="account-type" class="form-check-input" type="radio" id="customer" value="Customer">
                                <label class="form-check-label" for="customer">Customer</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-2 order-1 text-right">
                        <i>Fields with asterisk * are required.</i>
                    </div>
                </div>

                <div class="form-row row-12 mt-4">
                    <div class="form-group col-md-4">
                        <label for="first-name">First Name *</label>
                        <input class="form-control" type="text" name="first-name" id="first-name" placeholder="First Name" required>
                        <div class="invalid-feedback">
                            Please enter your first name.
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="last-name">Middle Name</label>
                        <input class="form-control" type="text" name="middle-name" id="middle-name" placeholder="Middle Name">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="last-name">Last Name *</label>
                        <input class="form-control" type="text" name="last-name" id="last-name" placeholder="Last Name" maxlength="30" required>
                        <div class="invalid-feedback">
                            Please enter your last name.
                        </div>
                    </div>
                </div>

                <div class="form-row row-12 mt-5">
                    <div class="form-group col-12 col-md-3">
                        <label for="province">Province *</label>
                        <select class="form-control" name="province" id="province">
                        </select>
                    </div>
                    <div class="form-group col-12 col-md-3">
                        <label for="city">City *</label>
                        <select class="form-control" name="city" id="city">
                        </select>
                    </div>
                    <div class="form-group col-12 col-md-3">
                        <label for="last-name">Barangay *</label>
                        <select class="form-control" name="barangay" id="barangay">
                        </select>
                    </div>
                    <div class="form-group col-12 col-md-3">
                        <label for="last-name">Street / House No. </label>
                        <input class="form-control" type="text" name="street" id="street" placeholder="Street" maxlength="30">
                    </div>
                </div>

                
                <div class="form-row row-12 mt-5">
                    <div class="form-group col-12 col-md-4">
                        <label for="contact-number">Contact Number *</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="number-prep">+63</span>
                            </div>
                            <input class="form-control" type="tel" pattern=".{10,11}" name="contact-number" maxlength="11" id="contact-number" placeholder="9000000000" required>
                            <div class="invalid-feedback">
                                Please enter your phone number in one of these formats: <br />9XXXXXXXXX or 09XXXXXXXXX
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12 col-md-4">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="Email" maxlength="30">
                        <div class="invalid-feedback">
                            Please enter your email address in format: yourname@example.com
                        </div>
                    </div>
                    <div class="form-group col-12 col-md-4">
                        <label for="company-name">Company Name</label>
                        <input class="form-control" type="text" name="email" id="company-name" placeholder="Company Name" maxlength="30">
                    </div>
                </div>
                <div class="form-row row-12 d-flex mt-5 justify-content-between">
                    <a href="#">I already have an account</a>
                    <input id="submit" class="btn" type="submit" value="Sign Up">
                </div>
            </form>

            <div>
            </div>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
</script>
<script src="{% static '/js/load-address.js' %}"></script>
<script src="{% static '/js/validate-registration.js' %}"></script>
<script>
    $(document).ready(function() {
        loadAddresses("{% static '/js/philippine_address_2019v2.json' %}");
    });
</script>
</html>