{% extends 'base.html' %}
{% load static %}

{% block tags %}
    <!-- Customized CSS -->
    <link rel="stylesheet" href="{% static '/css/dashboard/customer-dashboard.css' %}">
    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>

{% endblock %}


{% block content %}
    
    <div class="loading d-none">
        <div class="overlay"></div>
        <div class="loader">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
    </div>
    

    <div class="body-dashoard container-fluid mt-5 mb-3">
        <span class="pr-1 pl-1 title">Dashboard</span>
        <button class="btn pr-3 pl-3 order-btn" data-toggle="modal" data-target="#modal-create-order">Add Order</button>

        <div class="upper container-fluid mt-5 mb-4">
            <ul class="nav nav-pills nav-tabs row pl-0 pr-0" id="nav-tab" role="tablist">
                <li class="nav-item active pl-0 pr-0 pt-0 orders col-md-4 col-sm-6 col-12">
                    <a class="nav-link h-100"  id="nav-reserved-tab" data-toggle="tab" href="#reserved-table" role="tab" aria-controls="reserved-table" aria-selected="false">
                        <div class="box col-12 pl-0 pr-0 h-100">
                            <div class="reserved-orders pl-3 pt-2 pb-2">
                                <i>Reserved Orders</i>
                            </div>
                            <div id="reserved-orders-counter" class="order-type d-flex justify-content-center align-items-center">
                                0
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item  active pl-0 pr-0 pt-0 orders col-md-4 col-sm-6 col-12">
                    <a class="nav-link h-100" id="nav-finished-tab"  data-toggle="tab" href="#finished-table" role="tab" aria-controls="finished-table" aria-selected="false">
                        <div class="box col-12 pl-0 pr-0 h-100">
                            <div class="finished-orders pl-3 pt-2 pb-2" >
                                <i>Finished Orders</i>
                            </div>
                            <div id="finished-orders-counter" class="order-type d-flex justify-content-center align-items-center">
                                0
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item  active pl-0 pr-0 pt-0 orders col-md-4 col-sm-6 col-12">
                    <a class="nav-link h-100" id="nav-incoming-tab"  data-toggle="tab" href="#incoming-table" role="tab" aria-controls="incoming-table" aria-selected="true">
                        <div class="box col-12 pl-0 pr-0 h-100">
                            <div class="incoming-orders pl-3 pt-2 pb-2">
                                <i>Total Orders</i>
                            </div>
                            <div id="total-orders-counter" class="order-type d-flex justify-content-center align-items-center" >
                                0
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


        <div class="tab-content col-12 mt-3 pb-3 ml-auto mr-auto" id="nav-tabContent">

            <!-- Reserved Table -->
            <div id="reserved-table" class="order-table row mt-2 mb-5 tab-pane fade  w-90 mr-auto ml-auto">
                <div class="order-tab w-100 pl-3 pt-2 pb-2">
                    <i>Reserved Orders</i>  
                </div>
                <div class="order-table-holder col-12 container-fluid pb-2 pr-2 pl-2"   role="tabpanel" aria-labelledby="nav-reserved-tab">
                    <!-- Insert here the Reserved Table -->
                    <table class="display nowrap table customer-reserved-table mr-auto ml-auto"  style="width: 95%">
                        <thead>
                            <tr>
                                <th>Date Ordered</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Demand</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>    
                        </tfoot> -->
                    </table>
                    <!-- End Here -->
                </div>
            </div>
            <!-- End Reserved Table -->

            <!-- Finished Table -->
            <div id="finished-table" class="order-table row mt-2 mb-5 tab-pane fade w-90 mr-auto ml-auto"  >
                <div class="order-tab w-100 pl-3 pt-2 pb-2">
                    <i>Finished Orders</i>  
                </div>
                <div class="order-table-holder col-12 container-fluid pb-2 pr-2 pl-2" role="tabpanel" aria-labelledby="nav-reserved-tab">
                    <!-- Insert here the Reserved Table -->
                    <table class="table customer-finished-table mr-auto ml-auto"  style="width: 95%">
                        <thead>
                            <tr>
                                <th>Date Ordered</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Demand</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>    
                        </tfoot> -->
                    </table>

                    <!-- End Here -->
                </div>
            </div>
            <!-- End Finished Table -->

            <!-- Incoming Table -->
            <div id="incoming-table" class="order-table row mt-2 mb-5 tab-pane fade show active w-90 mr-auto ml-auto" role="tabpanel" aria-labelledby="nav-incoming-tab">
                <div class="order-tab w-100 pl-3 pt-2 pb-2">
                    <i>Total Orders</i>  
                </div>
                <div class="order-table-holder col-12 container-fluid pb-2 pr-2 pl-2 pb-5" style="width: 95%">
                    <!-- Template Table 
                        Note: add these classes to other table -> mr-auto ml-auto table
                    -->
                    <table class="table customer-total-table mr-auto ml-auto" style="width: 95%">
                        <thead>
                            <tr>
                                <th>Date Ordered</th>
                                <th>Crop Name</th>
                                <th>Demand</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>    
                        </tfoot> -->
                    </table>
                </div>
            </div>
            <!-- End Incoming Table -->

        </div>
    </div>
</div>

    <!-- Separated different modals and functions just in case there are changes -->

    <!-- Modal Order Reserved-->
    <div class="modal-customer modal fade" id="modal-customer-reserved" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Order Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row d-flex justify-content-center mt-3 pl-5 pr-5" style="font-size: 16px">
                        <div class="col-md-6 col-12 row">
                            <div class="label col-6 text-right pt-1 pb-1">Date Ordered:</div>
                            <div class="col-6 pt-1 pb-1" id="reserved-date-ordered">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Date Approved:</div>
                            <div class="col-6 pt-1 pb-1" id="reserved-date-approved">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Date Reserved:</div>
                            <div class="col-6 pt-1 pb-1" id="reserved-date-reserved">-</div>
                        </div>
                        <div class="col-md-6 col-12 row mt-md-0 mt-3">
                            <div class="label col-6 text-right">Status:</div>
                            <div class="col-6" id="reserved-status">-</div>
                            <div class="label col-6 text-right">Order Number:</div>
                            <div class="col-6" id="reserved-order-number">-</div>
                            <div class="col-6 "></div>
                        </div>
                        <div class="col-md-6 col-12 row mt-4">
                            <div class="label col-6 text-right pt-1">Crop Name:</div>
                            <div class="col-6 pt-1" id="reserved-crop-name">-</div>
                            <div class="label col-6  text-right pt-1 pb-1">Demand:</div>
                            <div class="col-6 pt-1 pb-1" id="reserved-demand">-</div>
                            <div class="label col-6  text-right pt-1 pb-1">Location:</div>
                            <div class="col-6 pt-1 pb-1" id="reserved-location">-</div>
                        </div>
                        <div class="col-md-6 col-12 row mt-4">
                        </div>
                    </div>
                </div>
                <div class="pt-3 pb-3 pl-5 pr-5 d-flex justify-content-between">
                    <input type="button" class="btn btn-danger report-btn" value="Report Problem">
                    <button type="button" class="btn ok-btn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>   
        
    <!-- Modal Order Finished-->
    <div class="modal-customer modal fade" id="modal-customer-finished" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document"    >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Finished Order Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row d-flex justify-content-center mt-3 pl-5 pr-5" style="font-size: 16px">
                        <div class="col-md-6 col-12 row">
                            <div class="label col-6 text-right pt-1 pb-1">Date Ordered:</div>
                            <div class="col-6 pt-1 pb-1" id="finished-date-ordered">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Date Approved:</div>
                            <div class="col-6 pt-1 pb-1" id="finished-date-approved">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Date Reserved:</div>
                            <div class="col-6 pt-1 pb-1" id="finished-date-reserved">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Date Finished:</div>
                            <div class="col-6 pt-1 pb-1" id="finished-date-finished">-</div>
                        </div>
                        <div class="col-md-6 col-12 row mt-md-0 mt-3">
                            <div class="label col-6 text-right">Status:</div>
                            <div class="col-6" id="finished-status">-</div>
                            <div class="label col-6 text-right">Order Number:</div>
                            <div class="col-6" id="finished-order-number">-</div>
                            <div class="col-6 "></div>
                        </div>
                        <div class="col-md-6 col-12 row mt-4">
                            <div class="label col-6 text-right pt-1">Crop Name:</div>
                            <div class="col-6 pt-1" id="finished-crop-name">-</div>
                            <div class="label col-6  text-right pt-1 pb-1">Demand:</div>
                            <div class="col-6 pt-1 pb-1" id="finished-demand">-</div>
                            <div class="label col-6  text-right pt-1 pb-1">Location:</div>
                            <div class="col-6 pt-1 pb-1" id="finished-location">-</div>
                        </div>
                        <div class="col-md-6 col-12 row mt-4">
                        </div>
                    </div>
                </div>
                <div class="pt-3 pb-3 pl-5 pr-5 d-flex justify-content-between">
                    <button type="button" class="btn ok-btn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>   

    <!-- Modal Order TOTAL-->
    <div class="modal-customer modal fade" id="modal-customer-total" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document"    >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Total Order Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row d-flex justify-content-center mt-3 pl-5 pr-5" style="font-size: 16px">
                        <div class="col-md-6 col-12 row">
                            <div class="label col-6 text-right pt-1 pb-1">Date Ordered:</div>
                            <div class="col-6 pt-1 pb-1" id="total-date-ordered">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Date Approved:</div>
                            <div class="col-6 pt-1 pb-1" id="total-date-approved">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Date Reserved:</div>
                            <div class="col-6 pt-1 pb-1" id="total-date-reserved">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Date Finished:</div>
                            <div class="col-6 pt-1 pb-1" id="total-date-finished">-</div>
                        </div>
                        <div class="col-md-6 col-12 row mt-md-0 mt-3">
                            <div class="label col-6 text-right">Status:</div>
                            <div class="col-6" id="total-status">-</div>
                            <div class="label col-6 text-right">Order Number:</div>
                            <div class="col-6" id="total-order-number">-</div>
                            <div class="col-6 "></div>
                        </div>
                        <div class="col-md-6 col-12 row mt-4">
                            <div class="label col-6 text-right pt-1">Crop Name:</div>
                            <div class="col-6 pt-1" id="total-crop-name">-</div>
                            <div class="label col-6  text-right pt-1 pb-1">Demand:</div>
                            <div class="col-6 pt-1 pb-1" id="total-demand">-</div>
                            <div class="label col-6  text-right pt-1 pb-1">Location:</div>
                            <div class="col-6 pt-1 pb-1" id="total-location">-</div>
                        </div>
                        <div class="col-md-6 col-12 row mt-4">
                        </div>
                    </div>
                </div>
                <div class="pt-3 pb-3 pl-5 pr-5 d-flex justify-content-between">
                    <button type="button" class="btn ok-btn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Order CREATE-->
    <div class="modal-customer modal fade modal-order" id="modal-create-order" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div id="modal-create-order" class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content pb-4">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Order Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="customer-order-form" method="POST" class="customer-order-form" novalidate autocomplete="on">
                        {% csrf_token %}
                        <!--
                        <input type="text" name="SAMPLE-TEXT" value="SAMPLETEXTBYCARY">
                        -->
                        <div class="container pl-4 pr-5 mt-5 group-inputs">
                            <div class="form-row row-12 mt-2">
                                <div class="form-group col-12 col-md-3 pt-2 d-flex justify-content-md-end font-weight-bold">
                                    <label for="province">Address:</label>
                                </div>
                                
                                <div class="col-md-9 col-12 row pl-4 pt-2W">
                                    
                                    {% for location in user.customer.location.all %}
                                        {% if forloop.first %}
                                            <div class="form-check col-12 col-md-9 mt-2">
                                                <input class="form-check-input addresses-on-file default-address" type="radio" name="address"  id="{{location.id}}" value="{{location.id}}" checked>
                                                <label class="form-check-label text-truncate d-inline-block" for="{{location.id}}" style="max-width: 18rem;">
                                                    {{location.name}}
                                                </label>
                                            </div>
                                        {% else %}
                                            <div class="form-check col-12 col-md-9 mt-2">
                                                <input class="form-check-input addresses-on-file" type="radio" name="address"  id="{{location.id}}" value="{{location.id}}">
                                                <label class="form-check-label text-truncate d-inline-block" for="{{location.id}}" style="max-width: 18rem;">
                                                    {{location.name}}
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    
                                    <div class="form-check col-12 col-md-9 mt-2">
                                        <input class="form-check-input" type="radio" name="address" id="custom-address" value="custom-address">
                                        <label class="form-check-label" for="custom-address">
                                            Custom Address
                                        </label>
                                    </div>
                                </div>
                                
                                <div id="custom-address-holder" class="offset-md-3 col-md-9 col-12 row mt-3 p-0" style="display: none;">
                                    <div class="form-group col-12 col-md-12">
                                        <select class="form-control" name="province" id="province" >
                                        </select>
                                    </div>
                                    <div class="form-group col-12 col-md-12">
                                        <select class="form-control" name="city" id="city" disabled>
                                            <option value="" disabled selected hidden>City *</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-12 col-md-12">
                                        <select class="form-control" name="barangay" id="barangay" disabled>
                                            <option value="" disabled selected hidden>Barangay *</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-12 col-md-12">
                                        <input class="form-control" type="text" name="street" id="street" placeholder="Street/House Number" maxlength="30">
                                    </div>
                                </div>

                            </div>

                            <div class="form-row row-12 mt-4">
                                <div class="form-group col-12 col-md-3 pt-2 d-flex justify-content-md-end align-items-center font-weight-bold">
                                    <label for="crop-name">Crop Name:</label>
                                </div>
                                <div class="form-group col-12 col-md-9 row pr-0">
                                    <div class="col-12 pl-4 pr-0">
                                        <select class="form-control" name="crop-id" id="crop-selector">
                                            {% for crop in crops %}
                                                <option value="{{crop.id}}">{{crop.name}}</option>
                                            {% endfor %}
                                        </select>
                                        <div id="crop-name-invalid" class="invalid-feedback">
                                            Please enter the name of the crop.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-12 col-md-3 pt-2 d-flex justify-content-md-end align-items-center font-weight-bold">
                                    <label for="province">Demand:</label>
                                </div>
                                <div class="form-groupcol-12 col-md-9 row pr-0">
                                    <div class="col-12 pl-4 pr-0">
                                        <input class="form-control" type="text" name="weight" id="demand" placeholder="Demand" maxlength="5" required>
                                        <span id="kg-indicator">kg.</span>
                                        <div id="demand-invalid" class="invalid-feedback">
                                            Please enter your target demand.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer mt-5 pt-2 pb-2">
                            <div class="row w-100">
                                <!-- Confirmation for order for reservation, and needs to confirm -->
                                <div id="confirmOrderMsg" class="d-none col-12 rounded text-center text-light bg-success border-info px-1 py-2">
                                    Are you sure you want to send this order?
                                </div>
                            </div>
                            <div class="pr-2 pt-2 text-right">
                                <button type="button" id="order-btn" class="btn ok-btn mr-2">Order</button>
                                <button type="submit" id="yes-btn" class="d-none btn ok-btn mr-2">Yes</button>
                                <button type="button" id="no-btn" class="d-none btn btn-outline-secondary mr-2" style="width: 5rem;">No</button>
                                <button type="button" id="cancel-btn" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                            
                        </div>
                    </form>                    
                </div>

            </div>
        </div>
    </div>      
{% endblock %}

{% block scripts %}
    <!-- Datatables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>

    <script src="{% static '/js/customer-dashboard.js' %}"></script>
    <!-- For modal transition and validate form report -->
    <script src="{% static '/js/form-customer-report.js' %}"></script>
    
    <script src="{% static '/js/form-customer-order.js' %}"></script>

    <script>
        const csrftoken = '{{ csrf_token }}';
        setCSRF(csrftoken)
    </script>

    <script src="{% static '/js/load-address.js' %}"></script>
    <script>
        $(document).ready(function() {
            loadAddresses("{% static '/js/philippine_address_2019v2.json' %}");
        });
    </script>   

    <!-- shows the notification success or error when reserved-->
    <script src="{% static '/js/notify.js' %}"></script>


{% endblock %}


