{% extends 'base.html' %}
{% load static %}


{% block tags %}
    <!-- Customized CSS -->
    <link rel="stylesheet" href="{% static 'css/farmer-dashboard.css' %}">
     <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
{% endblock %}

{% block content %}
    <div class="body-dashoard container-fluid mt-5 mb-3">
        <span class="pr-3 pl-3 title">Dashboard</span>

        <div class="upper container-fluid mt-3 mb-4">
            <ul class="nav nav-pills nav-tabs row pl-0 pr-0" id="nav-tab" role="tablist">
                <li class="nav-item active pl-0 pr-0 pt-0 orders col-md-4 col-sm-6 col-12">
                    <a class="nav-link h-100"  id="nav-reserved-tab" data-toggle="tab" href="#reserved-table" role="tab" aria-controls="reserved-table" aria-selected="false">
                        <div class="box col-12 pl-0 pr-0 h-100">
                            <div class="reserved-orders pl-3 pt-2 pb-2">
                                <i>Reserved Orders</i>
                            </div>
                            <div id="reserved-orders" class="order-type d-flex justify-content-center align-items-center">
                                8
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item  active pl-0 pr-0 pt-0 orders col-md-4 col-sm-6 col-12">
                    <a class="nav-link h-100" id="nav-finished-tab" data-toggle="tab" href="#finished-table" role="tab" aria-controls="finished-table" aria-selected="false">
                        <div class="box col-12 pl-0 pr-0 h-100">
                            <div class="finished-orders pl-3 pt-2 pb-2" >
                                <i>Finished Orders</i>
                            </div>
                            <div id="finished-orders" class="order-type d-flex justify-content-center align-items-center">
                                8
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item  active pl-0 pr-0 pt-0 orders col-md-4 col-sm-6 col-12">
                    <a class="nav-link h-100" id="nav-incoming-tab"  data-toggle="tab" href="#incoming-table" role="tab" aria-controls="incoming-table" aria-selected="true">
                        <div class="box col-12 pl-0 pr-0 h-100">
                            <div class="incoming-orders pl-3 pt-2 pb-2">
                                <i>Incoming Orders</i>
                            </div>
                            <div id="incoming-orders" class="order-type d-flex justify-content-center align-items-center" >
                                8
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content col-12 mt-3 pb-3 ml-auto mr-auto" id="nav-tabContent">

            <!-- Reserved Table -->
            <div id="reserved-table" class="order-table row mt-2 mb-5 tab-pane fade w-90 mr-auto ml-auto" role="tabpanel" aria-labelledby="nav-reserved-tab">
                <div class="order-tab w-100 pl-3 pt-2 pb-2">
                    <i>Reserved Orders</i>  
                </div>
                <div class="order-table-holder col-12 container-fluid pb-2 pr-2 pl-2 pb-5">
                    <!-- Insert here the Reserved Table -->
                    <table class="farmer-reserved-table mr-auto ml-auto table" style="width: 95%">
                        <thead>
                            <tr>
                                <th>Date Reserved</th>
                                <th>Crop Name</th>
                                <th>Demand</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>    
                        </tfoot> -->
                    </table>
                    <!-- End Here -->
                </div>
            </div>

            <!-- Finished Table -->
            <div id="finished-table" class="order-table row mt-2 mb-5 tab-pane fade w-90 mr-auto ml-auto" role="tabpanel" aria-labelledby="nav-finished-tab">
                <div class="order-tab w-100 pl-3 pt-2 pb-2">
                    <i>Finished Orders</i>  
                </div>
                <div class="order-table-holder col-12 container-fluid pb-2 pr-2 pl-2 pb-5">
                    <!-- Insert here the Finished Table -->
                    <table class="farmer-finished-table mr-auto ml-auto table" style="width: 95%">
                        <thead>
                            <tr>
                                <th>Date Reserved</th>
                                <th>Crop Name</th>
                                <th>Demand</th>
                                <th>Date Finished</th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>    
                        </tfoot> -->
                    </table>
                    <!-- End Here -->
                </div>
            </div>

            <!-- Incoming Table --> 
            <!-- Using this for all tables -->
            <div id="incoming-table" class="order-table row mt-2 mb-5 tab-pane fade show active w-90 mr-auto ml-auto" role="tabpanel" aria-labelledby="nav-incoming-tab">
                <div class="order-tab w-100 pl-3 pt-2 pb-2">
                    <i>Incoming Orders</i>  
                </div>
                <div class="order-table-holder col-12 container-fluid pb-2 pr-2 pl-2 pb-5" style="width: 95%">
                    <!-- Template Table Note: add these classes to other table -> mr-auto ml-auto table-->
                    <table class="farmer-incoming-table mr-auto ml-auto table">
                        <thead>
                            <tr>
                                <th>Crop Type</th>
                                <th>Demand</th>
                                <th>Land Area Needed</th>
                                <th>Order Location</th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>    
                        </tfoot> -->
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


    <!-- Modal Order -->
    <div class="modal-farmer modal fade" id="modal-farmer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document"    >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Order Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-2">
                    <div class="row d-flex justify-content-center mt-3 pb-2" style="font-size: 16px">
                        <div class="col-md-6 col-12 row">
                            <div class="label col-6 text-right pt-1 pb-1">Date Ordered:</div>
                            <div class="col-6 pt-1 pb-1" id="date-ordered">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Date Approved:</div>
                            <div class="col-6 pt-1 pb-1" id="date-approved">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Date Reserved:</div>
                            <div class="col-6 pt-1 pb-1" id="date-reserved">-</div>
                        </div>
                        <div class="col-md-6 col-12 row mt-md-0 mt-3">
                            <div class="label col-6 text-right">Status:</div>
                            <div class="col-6" id="status">-</div>
                            <div class="label col-6 text-right">Order Number:</div>
                            <div class="col-6" id="order-id">-</div>
                            <div class="col-6 "></div>
                        </div>
                        <div class="col-md-6 col-12 row mt-4">
                            <div class="label col-6 text-right pt-1">Crop Name:</div>
                            <div class="col-6 pt-1" id="crop-name">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Demand:</div>
                            <div class="col-6 pt-1 pb-1" id="demand">-</div>
                            <div class="label col-6 text-right pt-1 pb-1">Location:</div>
                            <div class="col-6 pt-1 pb-1" id="location">-</div>
                        </div>
                        <div class="col-md-6 col-12 row mt-4">
                            <div class="label col-6  text-right">Land Area Needed:</div>
                            <div class="col-6" id="area-needed">-</div>
                            <div class="label col-6 text-right" >Estimated Days to Finish:</div>
                            <div class="col-6" id="days">-</div>
                    </div>
                </div>
                <div class="modal-footer  pt-2 pb-2">
                    <button type="button" class="btn reserved-btn">Reserve</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}


{% block scripts %}
    <!-- Datatables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
    <!-- dashboard js -->
    <script src="{% static '/js/farmer-dashboard.js' %}"></script>
{% endblock %}

