{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Customized CSS -->
    <link rel="stylesheet" href="{% static 'css/approval.css' %}">

    <link rel="stylesheet" href="{% static 'css/farmer-dashboard.css' %}">


     <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>

    <title>AtoANI iCROP</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">AtoANI iCROP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Bisaya</a>
                            <a class="dropdown-item" href="#">English</a>
                            <a class="dropdown-item" href="#">Tagalog</a>
                        </div>
                    </li>
                </ul>
                <div class="my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'login_register:logout' %}">Logout</a>
                            {% else %}
                            <a class="nav-link" href="{% url 'login_register:login' %}">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="body-dashoard container-fluid mt-5 mb-5" style="">
        <span class="pr-3 pl-3 title">Farmer Dashboard</span>

        <div class="container-fluid mt-4 mb-4">
            <div class="row pl-0 pr-0">
                <div class="orders col-md-4 col-sm-6 col-12 mt-4">
                    <div class="box col-12 pl-0 pr-0 h-100">
                        <div class="reserved-orders reserved-orders pl-3 pt-2 pb-2">
                            <i>Reserved Orders</i>
                        </div>
                        <div id="reserved-orders" class="order-type d-flex justify-content-center align-items-center">
                            8
                        </div>
                    </div>
                </div>
                <div class="orders col-md-4 col-sm-6 col-12 mt-4">
                    <div class="box col-12 pl-0 pr-0 h-100">
                        <div class="finished-orders pl-3 pt-2 pb-2">
                            <i>Finished Orders</i>
                        </div>
                        <div id="finished-orders" class="order-type d-flex justify-content-center align-items-center">
                            8
                        </div>
                    </div>
                </div>
                <div class="orders col-md-4 col-sm-6 col-12 mt-4">
                    <div class="box col-12 pl-0 pr-0 h-100">
                        <div class="incoming-orders pl-3 pt-2 pb-2">
                            <i>Incoming Orders</i>
                        </div>
                        <div id="incoming-orders" class="order-type d-flex justify-content-center align-items-center" >
                            8
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 ml-1 mr-1">
                <div class="order-tab w-100 pl-3 pt-2 pb-2">
                    <i>Incoming Orders</i>
                </div>
                <div class="order-table-holder col-12 container-fluid pb-2 pr-2 pl-2">
                    <div class="col-12 mt-5">
                        <table id="farmer-table" class="table bg-light w-100">
                            <thead>
                            <tr>
                                <th>Crop Type</th>
                                <th>Demand</th>
                                <th>Land Area Needed</th>
                                <th>Order Location</th>
                                <th></th>
                            </tr>
                            </thead>
                            <!-- DATA TO BE RENDERED THRU AJAX CALL -->
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
        








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <script src="{% static '/js/switch-tab.js' %}" type="text/javascript"></script>

    <!-- Datatables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
<script>

  $(document).ready( function () {
    const farmerTableConfig = {
        paging: false,
        dom: `<
                <"d-flex float-left mb-2"
                    <"mr-3 ml-1"f>
                >
                <"d-flex float-right"B>
                <t>
                <"bottom"
                    <"d-inline"
                        <"float-left mt-0 ml-1 mb-3"i>
                    >   
                >
            >`,
        columnDefs: [
            { orderable: false, "targets": 4 },
            {
                targets: 4,
                data: null,
                defaultContent: `<div class="button-container d-flex justify-content-center">
                                  <button type="button" class="btn-primary mx-1" onclick="">
                                    Reserve
                                  </button>
                                  <button type="button" class="btn-secondary mx-1" onclick="">
                                    View
                                  </button>
                                </div>`
            }
        ],
        //alternatively you can use the syntax-->>>  ajax: " url 'customer:customer_dashboard' ",
        ajax: {
            url: '',
            dataSrc: "data"
        },
        //matches the data to appropriate column
        columns: [
            { "data": 'crop_type' },
            { "data": 'demand' },
            { "data": 'land_area' },
            { "data": 'order_location'},
        ],
        //Adds data-id attribute to each row
        // createdRow: function(row, data, dataIndex) {
        //     $(row).attr('data-id', data.id);
        // },
    }
    $('#farmer-table').DataTable(farmerTableConfig);
  } );

</script>


</body>

</html>