{% extends 'base_admin.html' %}
{% load static %}

{% block tags %}
<!-- Customized CSS -->
<link rel="stylesheet" type="text/css" href="{% static '/css/custom_admin/custom-admin.css' %}">
<!-- Datatables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css" />
{% endblock tags %}
{% block content %}
<div class="container-fluid">
  <div class="row h-100">
    <div class="col-2 sidebar d-flex column-vertical py-3 p-0">

      <a class="orders-title active" href="{% url 'custom_admin:orders' %}">Orders<i class="fa fa-caret-down"></i></a>
      <div class="dropdown-container">
        <button id="allBtn" type="button" class="sidebar-nav" autofocus>All</button>
        <button id="waitlistBtn" type="button" class="sidebar-nav">Waitlist</button>
        <button id="approvedBtn" type="button" class="sidebar-nav">Approved</button>
        <button id="ongoingBtn" type="button" class="sidebar-nav">Ongoing</button>
        <button id="harvestedBtn" type="button" class="sidebar-nav">Harvested</button>
        <button id="collectedBtn" type="button" class="sidebar-nav">Collected</button>
        <button id="deliveredBtn" type="button" class="sidebar-nav">Delivered</button>
        <button id="cancelledBtn" type="button" class="sidebar-nav">Cancelled</button>
        <!-- <button id="" type="button" class="sidebar-nav border-0">Collected</button> -->
        <!-- <button id="collectedBtn" type="button" class="sidebar-nav border-0">Delivered</button> -->
      </div>
      <a class="orders-title" href="{% url 'custom_admin:users' %}">Users <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-container d-none">
        <button id="" type="button" class="sidebar-nav border-0">All</button>
        <button id="" type="button" class="sidebar-nav border-0">Waitlist</button>
        <button id="" type="button" class="sidebar-nav border-0">Customers</button>
        <button id="" type="button" class="sidebar-nav border-0">Farmers</button>
      </div>
      <a class="orders-title" href="{% url 'custom_admin:crops' %}">Others <i class="fa fa-caret-down"></i></a>
      <div class="dropdown-container d-none">
        <button id="" type="button" class="sidebar-nav border-0" autofocus>Crops</button>
        <a href="{% url 'admin:index' %}" class="sidebar-nav border-0">Django Admin</a>
      </div>
    </div>
    <div class="col-10 p-5 orders">
      <h3 id="order-header">List of <span id="labelTop">All</span> Orders</h3>
      <div class="row">
        <div class="view-order ol-12 pt-3 pb-3 rounded ">
          <div class="row">
            <div class="label col-12 text-center pt-1 pb-1 mb-4"><b class="mr-3">Order ID:</b><span class="order-id"
                id="order-id">-</span></div>

            <div class="label col-3 text-right pt-1 pb-1"><b>Crop Name:</b></div>
            <div class="col-3 pt-1 pb-1" id="crop-name">-</div>
            <div class="label col-3 text-right pt-1 pb-1"><b>Customer ID:</b></div>
            <div class="col-3 pt-1 pb-1" id="customer-id">-</div>

            <div class="label col-3 text-right pt-1 pb-1"><b>Weight:</b></div>
            <div class="col-3 pt-1 pb-1" id="weight">-</div>
            <div class="label col-3 text-right pt-1 pb-1"><b>Customer Name:</b></div>
            <div class="col-3 pt-1 pb-1" id="customer-name">-</div>

            <div class="label col-3 text-right pt-1 pb-1"><b>Status:</b></div>
            <div class="col-3 pt-1 pb-1" id="status">-</div>
            <div class="label col-3 text-right pt-1 pb-1"><b>Farmer ID:</b></div>
            <div class="col-3 pt-1 pb-1" id="farmer-id">-</div>


            <div class="label col-3 text-right pt-1 pb-1"><b>Location:</b></div>
            <div class="col-3 pt-1 pb-1" id="location">-</div>
            <div class="label col-3 text-right pt-1 pb-1"><b>Farmer Name:</b></div>
            <div class="col-3 pt-1 pb-1" id="farmer-name">-</div>

            <div class="label col-3 text-right pt-1 pb-1 mt-4"><b>Date Ordered:</b></div>
            <div class="col-3 pt-1 pb-1 mt-4" id="date-ordered">-</div>
            <div class="label col-3 text-right pt-1 pb-1"></div>
            <div class="col-3 pt-1 pb-1"></div>

            <!-- <div class="label col-3 text-right pt-1 pb-1"><b>Date Reserved:</b></div>
            <div class="col-3 pt-1 pb-1" id="date-reserved">-</div>
            <div class="label col-3 text-right pt-1 pb-1"></div>
            <div class="col-3 pt-1 pb-1"></div>

            <div class="label col-3 text-right pt-1 pb-1"><b>Date Collected:</b></div>
            <div class="col-3 pt-1 pb-1" id="date-collected">-</div>
            <div class="label col-3 text-right pt-1 pb-1"></div>
            <div class="col-3 pt-1 pb-1"></div> -->
            <div class="label col-12 text-center justify-content-center pt-1 pb-1 mb-4">
              <button id="cancelBtn" type="button m-0" class="btn btn-danger px-5 mx-auto">Cancel Order</button>
              <button id="approveBtn" type="button m-0" class="btn btn-info px-5 mx-auto">Approve Order</button>
              <button id="harvestBtn" type="button m-0" class="btn btn-success px-5 mx-auto">Mark as Harvested</button>
              <button id="collectBtn" type="button m-0" class="btn btn-success px-5 mx-auto">Mark as Collected</button>
              <button id="deliverBtn" type="button m-0" class="btn btn-success px-5 mx-auto">Mark as Delivered</button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <table class="table orders-table mx-auto">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Crop Name</th>
                <th>Customer Name</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<!-- Datatables JS -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
<!-- Admin JS -->
<script src="{% static '/js/custom-admin/custom-admin-sidebar.js' %}"></script>
<script src="{% static '/js/custom-admin/custom-admin-orders.js' %}"></script>
<script>
  $(document).ready(function () {
    initialize();
    setCSRFToken("{{csrf_token}}")
  });
</script>
{% endblock scripts %}