{% extends 'base.html' %} {% load static %} 
{% block tags %}

<!-- Customized CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/errors/500.css' %}"> 
{% endblock %} 

{% block content %}
<div class="container-fluid error-holder">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="row justify-content-center pt-5 pb-4">
                <h5>Error 500, Internal Server.</h5>
            </div>
            <div class="d-block text-center">
                <a class="btn mr-3" href="{% url 'login_register:login' %}">Log in</a>
                <a class="btn ml-3" href="{% url 'login_register:register' %}">Register</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}